[2013-11-07 01:55] LightGuard opened #1 "Slate should support Asciidoc"
As slate is a Ruby application, it should be pretty trivial to support AsciiDoc via AsciiDoctor github.com/asciidoctor/asciidoctor. I'm sure @mojavelinux would be able to lend a hand.

[2014-01-10 00:59] lord opened #3 "Make Slate Responsive"
Make Slate's design responsive so it works on mobile devices.

[2014-01-10 01:03] lord opened #4 "Aside print styling is missing"
Asides aren't very nicely styled when the document is printed.

[2014-01-10 01:12] lord opened #5 "Switch RedCarpet to a gem reference"
When new red carpet comes out, switch Git reference to a version number.

We can't use the current gem because of the ToC naming feature.

[2014-01-12 23:12] drcabana opened #6 "use of ocaml in language_tabs not working correctly"
Hi,

Here's an issue I ran across.  I am working on Project Euler problems, and want to use Slate to display solutions in clojure, haskell, python, and ocaml. The language tabs work as expected until I add ocaml to language_tabs.  The problem is that the ocaml solution is presented on every tab.

By dint of experiment I found that lying (say by claim the ocaml solution is in perl or ruby) fixes th

[2014-01-13 23:26] #6 closed, assigned to nobody

[2014-01-23 21:31] funkyboy opened #7 "Issue with objc"
I have cloned your repo and used objc instead of python. That's the only change I did. Here is my fork: https://github.com/funkyboy/slate
My changes: https://github.com/funkyboy/slate/commit/d19f7ba7fc6f0d11a049548298f5a5b8d0d35c63
Regardless of the tab selected on the top right, the objc code never hides.
Any hint?

[2014-01-23 22:35] #7 closed, assigned to nobody

[2014-02-17 22:42] herbertia opened #9 "Is the project running with ruby-2.0.0 ?"
I did the few steps to install and use slate but after launching middleman server, when I am trying to access to localhost:4567, the application crashes with the following error:

== The Middleman is loading
== The Middleman is standing watch at http://0.0.0.0:4567
== Inspect your site configuration at http://0.0.0.0:4567/__middleman/
/Users/Stephanie/.rvm/gems/ruby-2.0.0-p247@clm-api-doc/gems/til

[2014-02-19 22:52] #9 closed, assigned to nobody

[2014-03-04 18:35] rivvid opened #11 "Live reload not enabled by default"
Not being very familiar with Middleman or Ruby, I was wondering why live reload wasn't working out of the box. Simple fix, just add this to config.rb:

`activate :livereload`

Not really a bug, but might want to mention it in the read me.

This is a great tool, thank you so much for creating it!

[2014-03-04 23:50] #11 closed, assigned to nobody

[2014-03-05 09:27] ct-clearhaus opened #12 "ExecJS missing"
Just `bundle install`'ed on a fresh machine and got the following error:

[code]

Added this to the Gemfile:

[code]

and things worked very well. Isn't it a missing dependency?

[2014-03-05 21:52] #5 closed, assigned to nobody

[2014-03-07 11:24] eliantor opened #14 "Layout question"
Hi,

I would like to vertically align blocks of code with h4 headers.
I've added h4 to the list of selectors in layout.erb, it works but now they appear in the table of content.

Is it possible to remove h4 from TOC but still keep the code blocks aligned?

[2014-03-07 19:53] #14 closed, assigned to nobody

[2014-03-18 19:35] giastfader opened #15 "Option to split index.md"
Hi!
Thank you for sharing this very useful code :)
Since our index.md is growing very fast, I am wondering if there is a way (or a hack) to split it in little and more manageable files.
So everyone in our team can edit the file that is responsible for, without problems with commits and merges.
I am thinking something like an option to write each TOC section in a separated file.

[2014-03-22 01:11] #15 closed, assigned to nobody

[2014-03-25 18:14] clutchwave opened #18 "Use //code.jquery.com instead of http://code.jquery.com when building slate"
Hi - I just went to build slate with `rake build`.  Deployed the files statically on our server, which is https-only.

jQuery was then blocked because it is requesting it on `http://` instead of generic `//`:

[code]

I'll see if there's a way to specify this in the build options, but it should probably just use `//` instead of `http://`

Thanks!  This stuff looks killer!
Mike

[2014-03-25 18:38] #12 closed, assigned to nobody

[2014-03-28 04:54] densone opened #20 "Div gets pushed down in code examples."
Hey there. I noticed my code examples get pushed down really far when adding text. Can you give me a hint on how to correct this?
![issue_deiv](https://cloud.githubusercontent.com/assets/49484/2546379/ffed1226-b634-11e3-9d9f-2c35994eca5f.png)

[2014-03-28 05:24] #20 closed, assigned to nobody

[2014-03-30 19:56] drcabana opened #22 "Slate is the bomb!"
Hey, this is not an issue, it's fan mail.   I have been using Slate to do some work which involves comparing  source code in several languages.  I have been very happy with the result.  If you want to see some Slate in the wild, check out http://drcabana.github.io/build-a-quine/#introduction

I have a similar but much longer project in progress, wherein I plan to show detailed solutions to the fir

[2014-03-31 00:25] #22 closed, assigned to nobody

[2014-03-31 08:02] #18 closed, assigned to lord

[2014-04-11 21:50] bootstraponline opened #29 "c# breaks slate"
[code]

[2014-04-14 03:28] cheesang opened #30 "rake build failed"
C:\slate>rake build
cd C:/slate
bundle exec middleman build --clean
   identical  build/images/logo.png
   identical  build/fonts/icomoon.svg
   identical  build/fonts/icomoon.woff
   identical  build/fonts/icomoon.ttf
   identical  build/fonts/icomoon.eot
       error  build/javascripts/lang_selector.js
       error  build/javascripts/jquery.tocify.js
       error  build/javascripts/all.js

[2014-04-15 16:58] aroach opened #32 "An error occurred while installing eventmachine (1.0.3), and Bundler cannot continue."
Hi, I'm running into an error while trying to build slate.  Is anyone else running into this?

I had found an article to run:

sudo ARCHFLAGS=-Wno-error=unused-command-line-argument-hard-error-in-future gem install eventmachine

which worked previously, but it seems to be breaking again for me.

ASROACH-M-N05D:slate ashleyroach$ bundle install
Fetching gem metadata from http://rubygems.org/.......

[2014-04-15 17:30] #32 closed, assigned to nobody

[2014-04-17 00:39] bootstraponline opened #34 "Slate flickers on load"
With large websites, the flicker from the initial load is apparent.

http://www.screencast.com/t/XIBbZ7ORlj

[2014-04-17 00:41] bootstraponline opened #36 "Prevent reloading page when switching languages"
On a large slate site, it's a pain to reload the entire page when quickly looking through all the languages for a single example.

[code]

[2014-04-17 01:04] bootstraponline opened #37 "h4-h6 not in screen.css"
When converting content from github markdown, I noticed that h4 h5 and h6 are not styled. I think they should all be treated as h3.

[2014-04-17 01:13] bootstraponline opened #39 "null divs"
I'm seeing some strange behavior with `null` Is this expected?

[code]

My guess is that the h4 headings are causing problems.

[2014-04-17 15:47] #29 closed, assigned to nobody

[2014-04-17 16:08] #34 closed, assigned to nobody

[2014-04-17 22:07] bootstraponline opened #40 "slate escapes html tags"
To link to the start of a document in a reliable way, anchor tags are added.

The `/` is stripped by middleman resulting in invalid HTML. Other tools such as Jekyll correctly render inline HTML. Is there a way to disable the HTML filtering?

[2014-04-17 22:12] #40 closed, assigned to nobody

[2014-04-17 23:29] #39 closed, assigned to nobody

[2014-04-18 05:03] #30 closed, assigned to nobody

[2014-04-19 21:13] #37 closed, assigned to nobody

[2014-04-19 23:19] bootstraponline opened #43 "Strange search behavior"
I deployed [dev rev 7386fd](https://github.com/tripit/slate/commit/7386fd2e211f86c6eddbb1607f62e0eec126f6bb) to [gh-pages](http://bootstraponline.github.io/api-docs/). If I search for `write docs`, it doesn't find the match. Are the `h1`s not indexed?

[2014-04-19 23:41] nodesocket opened #44 "Increase middle pane width"
We are thinking of using slate, but would like to simply increase the width of the middle pane, and reduce of the width of the far right pane (language specific examples). Is this possible with a simple config change?

[2014-04-20 01:08] #44 closed, assigned to nobody

[2014-04-20 01:43] #43 closed, assigned to nobody

[2014-04-20 01:44] lord opened #45 "Statically generate ToC and Sections"
We're hosting static content, so we should be able to create the table of contents and `<section>`s before sending it to the user. This probably also involves removing Tocify.

Also #551 mentions preserving italics, which is a good idea.

[2014-04-21 15:38] #36 closed, assigned to nobody

[2014-04-21 15:48] lord opened #47 "Search should skip to first result"
Issue pointed out by @bootstraponline in #43, we should skip to the first result, not just filter the sections down.

[2014-04-21 15:52] lord opened #48 "Sometimes when searching, tocify won't highlight the current ToC item"
![screen shot 2014-04-21 at 11 51 44 am](https://cloud.githubusercontent.com/assets/1976330/2755738/eb99ad66-c96c-11e3-8a27-e7ee1381706f.png)

"Introduction" in ToC of the the screenshot above should be highlighted in blue, since that's the current scroll position.

[2014-04-21 16:45] #47 closed, assigned to nobody

[2014-04-22 16:07] 0xcaff opened #50 "Stop Using Http Query Parameters"
When a request is made, HTTP query parameters get sent to the server, hash/fragment values don't. If we remove the query parameter it would probably greatly improve load time.

The URL could look something like:
`example.com#ruby@making-requests`

`ruby` is the language and `making-requests` is the id.

[2014-04-22 17:50] #50 closed, assigned to nobody

[2014-04-27 19:49] bootstraponline opened #52 "Language crash impacts navigation"
Clicking on [credits](http://bootstraponline.github.io/slate/en/1.0-beta/) is activating the menu button two above it. Also direct links to credits sometimes fail.
- [Screencast](https://www.youtube.com/watch?v=PRXbB7KFehU)

[2014-04-27 20:34] bootstraponline opened #54 "Auto scroll left nav bar"
Currently the left nav bar is [never scrolled](http://bootstraponline.github.io/slate/en/1.0-beta/).

[2014-04-27 20:41] bootstraponline opened #55 "jquery.tocify.js is out of date"
v1.9.0 is [on GitHub](https://github.com/gfranko/jquery.tocify.js)

[2014-04-30 19:57] Bernie opened #57 "Language Selector overwrites existing query parameters"
When deploying the API documentation into a custom deployment, it may be feasible that such a deployment may require query parameters in order to properly serve the content.

Unfortunately, the language selector currently assumes that no other query parameters exist, aside from the language identifier, and simply overwrites any existing query parameters when a new language is selected from the tab

[2014-05-02 18:22] maxlinc opened #58 "Multiple language tabs per programming language"
This project looks awesome!

I think assuming that it's "language_tabs" rather than libraries/implementations or whatever implies that there could be more than one sample in a given language is a limitation, though.

One common example: it's not unusual to have a both a Ruby-on-Rails and pure Ruby library.  Another example (though both can be integrated with Ruby) is comparing Mongoid vs MongoMapp

[2014-05-04 00:22] #4 closed, assigned to nobody

[2014-05-05 10:59] makfruit opened #59 "More specific anchor IDs"
Currently, slate automatically creates anchors from the header name, so that, for example
`### Response`

becomes

`<h3 id="response">Response</h3>`

and you can refer to the corresponding paragraph right in the text. That's very useful.

The problem is if there are more than one 'Response' paragraphs within the doc, you cannot tell one header from another when creating an internal link.

It would

[2014-05-05 16:01] #52 closed, assigned to nobody

[2014-05-05 16:12] lord opened #60 "Sometimes, language tabs get unselected"
It happens if there is no URL in the header, and the user clicks on a ToC item.

[2014-05-07 09:32] cheesang opened #61 "can same language formatting appear more than once"
I got issue to put android API into the doc due to it's formatting same as java, how to support it?

[2014-05-07 21:07] #61 closed, assigned to nobody

[2014-05-08 02:19] chrissrogers opened #62 "Add match count numbers, don't reorder TOC"
I really like the idea of hinting at which section of the docs best matches the search query.

Currently this is accomplished by re-ordering the TOC; however, this breaks the functionality of the TOC in that the content remains in its original order. Additionally, highlighting of the TOC headers breaks due to assumptions by the TOC code that order is maintained.

Potential solutions
-  Some other

[2014-05-10 16:47] bootstraponline opened #64 "Slate generates invalid identifiers"
On the [appium docs](http://appium.io/slate/en/v1.0.0/#appium) if you search for `m` the following exception is raised:

`Uncaught Error: Syntax error, unrecognized expression: .tocify-item[data-unique=migrating-your-tests-from-appium-0.18.x-to-appium-1.x]`

[code]

The id generated by slate fails to filter out special characters that interfere with css selectors.

[2014-05-10 16:50] #54 closed, assigned to nobody

[2014-05-11 19:16] bootstraponline opened #65 "multi-line code in center column"
It'd be nice to have a way to specify a multi-line code block that stays in the center column.

[2014-05-11 23:18] bootstraponline opened #66 "conditional paragraph visibility based on selected language"
It'd be useful to have a way to toggle explanatory text in the center column when the code examples change. If someone has `Ruby` selected for language examples, they probably aren't interested in reading the explanation in the center for every language.

[2014-05-21 19:56] garbados opened #69 "documentation for using includes"
Hey! I added a page on [using includes](https://github.com/tripit/slate/wiki/Using-Includes) to the wiki. I'm putting this issue here to call attention to it for reviewal, etc. If you'd like to reject the writing, feel free to delete the page from the wiki and its link from the homepage.

[2014-05-21 20:51] #69 closed, assigned to nobody

[2014-05-30 21:54] thelinuxlich opened #70 "The Middleman Server is shutting down..."
My slate app keeps on shutting down after some hours with this message, do you know what could it be?

[2014-06-02 04:09] #70 closed, assigned to nobody

[2014-06-06 13:48] SamvelRaja opened #71 "Versioning"
Kindly provide the tag for version maintenance.

[2014-06-09 15:57] guilhermesgb opened #72 "Conditional Code Annotations"
Would be nice to have conditional Code annotations, e.g. explanatory words per-language.

Right now this feature is only useful if we can have text that makes sense for all language tab options. For example, the example below works because there's the same output format no matter which language option is chosen.

Would be nice to have code annotations specific to different code snippets as well. :

[2014-06-10 22:08] niftylettuce opened #74 "Revision of wiki instructions"
See list item 3 from https://github.com/tripit/slate/wiki/Deploying-Slate/99cd095c465af1d1674ea6d49fa525e7afd8de43.

Reword if you'd like.

[2014-06-10 22:40] niftylettuce opened #75 "#undefined hash bug"
Upon scrolling up on OS X, the hash changes to #undefined, then it changes back to #introduction.  I suggest we patch this such that it prevents the hash from even occuring if the hash is "undefined".

[2014-06-11 01:03] #74 closed, assigned to nobody

[2014-06-12 04:34] lord opened #77 "Don't include search.js if search is disabled"

[2014-06-12 05:01] lord opened #79 "Improve performance on large pages"
Very long pages sometimes lag, which should be minimized if possible.

[2014-06-12 05:04] #77 closed, assigned to lord

[2014-06-12 05:11] #75 closed, assigned to nobody

[2014-06-12 06:41] lord opened #80 "Clean up Javascript"
- Remove `function blah() {}`, change to `var blah = function() {}`
- Remove trailing spaces
- Fix jslint violations

[2014-06-12 07:30] lord opened #81 "Clear search button"
A little `x` in the search box to clear the search would be nice.

[2014-06-14 08:08] niftylettuce opened #82 "Retrieve live api responses on middleman build"
I utilized `async-ejs` to dynamically render `curl` requests :8ball:

Here's what I did with node:

[code]

Here's my `index.template.md` file:

[code]

Note that `(backtics)` means I have three `'s, but they get rendered so I had to verbatim write that out.

Here's the generated output:

[code]

Perhaps you can make an adaptation of this same concept and apply it via a watch script into the exist

[2014-06-17 01:07] niftylettuce opened #83 "Make note about adding CNAME to source/ directory"
Not many are familiar with `middleman-gh-pages` therefore we should note that CNAME files should be placed into the source/ folder.  Maybe in the Readme or Wiki?  Not sure where this belongs.

[2014-06-17 02:13] niftylettuce opened #84 "Uncaught Error: Syntax error, unrecognized expression: .highlight."
You can reproduce this error in the Chrome Dev Tools output by doing the following:
1. Visit http://developer.marketprophit.com/
2. Scroll down to the very bottom of the page
3. Scroll up a bit (perhaps half way)
4. Click on the last section in the left side navbar
5. You'll see that it doesn't scroll down; it opens the section and then immediately collapses it, and results in the error output in

[2014-06-19 04:27] hussainanjar opened #85 "Ability to create nested tables using markdown"
Right now only way to create nested table is using html tags which is too much work. It will be nice to be able to create nested tables using markdown specially to show parameter description of complex JSON objects.

[2014-06-19 06:16] #85 closed, assigned to nobody

[2014-06-22 09:04] #3 closed, assigned to lord

[2014-06-22 09:37] #80 closed, assigned to lord

[2014-06-22 09:37] #79 closed, assigned to lord

[2014-06-22 10:15] #60 closed, assigned to lord

[2014-06-22 15:35] imaginator opened #86 "Unordered lists in Markdown"
It doesn't seem possible to create unordered lists. I have tried:

`- item`

And also

`* item`

Is this supported or a bug with our implementation?

[2014-06-22 17:26] #86 closed, assigned to nobody

[2014-06-23 14:25] Gioyik opened #87 "Scroll issue"
Hi,

First of all, great project. I was searching a good way to document my project, I was trying Flatdoc and others alternatives but none like this one, so professional an complete form my requirements. Keep the good work. :+1:

I am seeing a problem with scroll. There are two frames to me, the left frame where is all the tree documentation structure and the right frame where there is the content

[2014-06-24 08:11] #84 closed, assigned to nobody

[2014-06-25 05:35] #64 closed, assigned to lord

[2014-06-26 20:30] #83 closed, assigned to nobody

[2014-07-03 05:35] #48 closed, assigned to lord

[2014-07-03 06:56] #62 closed, assigned to lord

[2014-07-03 06:56] #71 closed, assigned to lord

[2014-07-11 00:55] moizjv opened #92 "Wrong number of arguments error"
During build fails with below error

[code]

[2014-07-11 07:49] carcabot opened #93 "Run in apache2"
Hello,

I'm new to Ruby and i cannot make this working on a apache using mod_passenger, can you give me some advise to make it work ?

I've followed almost all tutorials , but I couldn't run this app on my apache2.

I'm using Ubuntu 14.04 LTS x64

[2014-07-11 15:08] #93 closed, assigned to nobody

[2014-07-25 16:50] Joyce-Stack opened #98 "Multiple sub menu items with the same string values results in undesirable URLs"
Hello,

I believe this to be a bug in the underlying' jquery.tocify.js' library so created an issue at - https://github.com/gfranko/jquery.tocify.js/issues/62

In case I am wrong then I am happy to create a more detailed issue here.

[2014-07-28 06:27] #98 closed, assigned to nobody

[2014-07-29 17:02] niftylettuce opened #99 "X icon on far right of search input appended to clear search"
Just a suggestion

---

| {search icon}     {some search string}      {X icon to clear search} |
| --- |

[2014-07-29 17:12] #99 closed, assigned to nobody

[2014-08-12 05:38] cj opened #100 "formatting error"
The one on the left is your demo site and the one on right is mine.  For some reason it's not removing the `code` block and adding the classes/styles to pre.  Would you have any idea why?

![](http://i.imgur.com/h2EZGUI.png)

p.s. thank you for this gem!

[2014-08-12 20:12] kevin-buttercoin opened #101 "toc errors"
Hello,
First, I just wanted to thank you for making your awesome tool available, as we've built some API docs we're quite happy with.

You can view them here:
https://developer.buttercoin.com/

But if you get to this in the next hour or so, you'll see I initially had a lot of issues with the TOC jumping around and the anchors not working properly.  Otherwise, you'll probably see a working version

[2014-08-12 22:22] niftylettuce opened #102 "Uncaught RangeError: Maximum call stack size exceeded"
Whenever I set `search: true` it causes this error.  I have reason to believe that because my page is so large, there is a parsing issue that occurs which breaks search functionality and therefore the left sidebar of navigation/table of contents never shows and this error results on console output.

[2014-08-13 16:08] #92 closed, assigned to nobody

[2014-09-20 01:29] monfresh opened #109 "Should livereload be enabled by default in config.rb?"
Hi,

The README says that as you edit the files, the server will automatically update. This is not true since `config.rb` does not activate livereload by default. Either the README should be updated with instructions to add `activate :livereload` to `config.rb`, or `config.rb` should be updated to activate livereload by default.

I'd be happy to submit a PR for either.

[2014-09-20 03:36] #109 closed, assigned to nobody

[2014-10-08 14:25] AlekSi opened #111 "TOC with non-English letters"
After upgrading TOC becomes unusable if all section headers do not have English letters or numbers in them (all anchors become `#-`). This is due to RedcarpetHeaderFix. Disabling it fixes TOC for me.

[2014-10-08 23:41] kevin-buttercoin opened #112 "XSS Vuln in searchbox"
Typing HTML into the searchbox will cause the input to be expressed if no matching results are found.

e.g. "><img src=x onerror=alert('This alert will appear');>"

PR fix for this coming shortly after I submit this.

[2014-10-09 16:24] kevin-buttercoin opened #114 "JS error on undefined element scrollIntoView call"
Hi,
I just wanted to report an issue and the fix with this line of code:

https://github.com/tripit/slate/blob/master/source/javascripts/app/lang.js#L34

It causes a javascript error when you first load the page because there is no hash item.

![screen shot 2014-10-09 at 9 22 35 am](https://cloud.githubusercontent.com/assets/4991153/4579837/83e7783e-4fd0-11e4-9afe-d4f28ba8e03b.png)

Simply changin

[2014-10-10 03:21] #112 closed, assigned to nobody

[2014-10-20 19:11] andryaf opened #119 "Does Slate integrate with Desk.com?"
I'd like to use Slate to create API docs. Would this integrate to Desk.com, and if so, how?

[2014-10-20 19:15] #119 closed, assigned to nobody

[2014-10-28 05:35] yazinsai opened #121 "Embed API keys in the examples using Ruby"
I love this project! Beyond design, Stripe inspired the use of working examples in their documentation. That means if you're logged in, you'll see your actual API key in the examples.

What's the cleanest way to do that with Slate?

I tried appending the `.rb` extension to `index.md` but that didn't work (I got a `Not Found` error)

[2014-10-28 18:19] #121 closed, assigned to nobody

[2014-10-29 04:13] saurabhkarmakar opened #122 "rake build fails on Windows 8"
I have followed the instructions for setting up Slate on my Windows 8 laptop. I am using Ruby 1.9.3 and have installed bundler. I have also installed all the dependencies by using the bundle install command.
However, publishing the docs on the local server (rake build) fails. Error is displayed for the javascript files.
![image](https://cloud.githubusercontent.com/assets/9416016/4820972/b944ed12-5

[2014-11-02 14:20] henrymighty opened #123 "Russian symbols"
I'm trying to create documentation in Russian language. I have found some issues.

1) Search works only on english symbols not Russian.
2) Header IDs are auto generated empty:

Markdown code:

[code]

Result:

[code]

3) I couldn't set header ids manually:

Markdown code:

[code]

Expected:

[code]

Result:

[code]

**This issue breaks table of contents. How could i fix id generation or set ids ma

[2014-11-02 19:24] #123 closed, assigned to nobody

[2014-11-05 06:02] jbergstroem opened #125 "bundler issue on os x 10.10: libv8 fails to build"
Relevant issue here: https://github.com/cowboyd/libv8/issues/123

In short, bump the libv8 version from 3.16.14.3 to 3.16.14.7. Works for me.

[2014-11-05 21:00] #125 closed, assigned to nobody

[2014-11-06 03:23] lord opened #127 "API testing tab"
Crazy idea. I'm posting this to gauge interest since it was suggested by [API evangelist](http://apievangelist.com/2014/10/24/dwolla-using-slate-for-an-evolved-api-documentation-experience/). Would anybody be interested in something like a "test tab"?
![screen shot 2014-11-05 at 9 11 21 pm](https://cloud.githubusercontent.com/assets/1976330/4930322/a21d105a-6562-11e4-9572-8ca9feccedc3.png)

Code e

[2014-11-11 15:32] dmyers opened #128 "Focus class on focused child's parent"
Never mind, moved to Tocify.

https://github.com/gfranko/jquery.tocify.js/issues/69

[2014-11-11 16:00] dmyers opened #129 "Variables for styling for hover colors"
It would be nice to be able to add some variables to set the hover color on parent items and child item hovers.

What do you think?

[2014-11-11 16:15] #128 closed, assigned to nobody

[2014-11-11 22:42] #129 closed, assigned to nobody

[2014-11-13 14:18] jcrawford opened #132 "Auto Update not working with Chrome"
I am editing and saving the index.md file but I constantly have to go to chrome and refresh.

I am on OSX 10.7.5

[2014-11-13 20:52] #132 closed, assigned to nobody

[2014-11-17 18:36] dmyers opened #133 "Add page title to browser history tracking"
Is it possible to somehow have the page title of the section you are on in the history tracking instead of just the default page title? It would make navigating a bit better I think?

[2014-11-17 18:55] dmyers opened #134 "Global variables"
Is there a way to set a global variable for use in every documentation file included? For example I'd like to have my api endpoint as a variable.

[2014-11-17 19:57] fpruitt opened #135 "Slate should support Swift"
I know this may not be top priority, but it would be helpful if slate supported Apple's new programming language, Swift. I don't know the process of adding a language, but I would be willing to help!

[2014-11-17 22:23] dmyers opened #136 "Style table content"
Is there an easy way to style table content? Like say I have true/false/int/string it would be really cool to style them different colors for the type.

It would also be nice to somehow style the request type get/post/put/delete depending on the type too.

[2014-11-18 01:44] #135 closed, assigned to nobody

[2014-11-18 01:51] #134 closed, assigned to nobody

[2014-11-21 19:44] dmyers opened #138 "Add switcher to switch between various .md files for versions, languages, etc."
Do you have any thoughts on how you could have multiple API versions? It would be kind of cool to somehow do it based on folder structure and how the shell/ruby/etc switching works maybe.

[2014-11-25 17:13] dmyers opened #139 "Content and sidebar not aligned with large content size differences"
I have some docs I'm working on where the sidebar doesn't align to the content because of large sections on each end up pushing the floats back and forth

Do you have any ideas how we could improve aligning the sections so the start of a new documentation section or subsection and the sidebar aligns?

[2014-11-25 17:15] #139 closed, assigned to nobody

[2014-11-28 05:11] ryanwjackson opened #140 "Add Github CNAME instructions to docs"
It is required to put the CNAME doc in the source folder (not in the app root) when using `rake publish`.  Although not specific to this repo alone, it may be useful as it was a "gotcha" a ran into.  It would be awesome to add something to the documentation if people agree.

[2014-12-01 19:04] jonathan-s opened #141 "Deeper nesting"
In the [markdown syntax](https://github.com/tripit/slate/wiki/Markdown-Syntax) it says: `Note that only level 1 and 2 headers will appear in the table of contents.` However it's possible to nest it deeper than one level in the TOC. I would like to contribute how to do that. Where would it be appropriate to include this?

[2014-12-01 20:52] #141 closed, assigned to nobody

[2014-12-02 15:02] jonathan-s opened #142 "Moving up the Table of Contents"
If you switch back and forth between the languages you slowly move up the table of contents rather than stay on the same section that you were viewing.

I tested it on the sample docs, it doesn't happen there. But it happens on my version. You can see the issue happening in the [Dwolla docs](https://docs.dwolla.com/)

[2014-12-04 20:30] #142 closed, assigned to nobody

[2014-12-04 22:59] #101 closed, assigned to nobody

[2014-12-04 23:03] #100 closed, assigned to nobody

[2014-12-04 23:08] #136 closed, assigned to nobody

[2014-12-04 23:11] #140 closed, assigned to nobody

[2014-12-04 23:46] #114 closed, assigned to nobody

[2014-12-04 23:52] #122 closed, assigned to nobody

[2014-12-05 00:05] lord opened #144 "Header ID improvements"
- [x] Remove duplicate IDs, so two headers with the same content have different IDs and can be linked to uniquely. (see #59)
- [x] Improve ID generation for headers with non-alphanumeric content, like non-English characters or symbols. (see #111)

[2014-12-05 00:06] #111 closed, assigned to nobody

[2014-12-05 00:06] #59 closed, assigned to nobody

[2014-12-11 08:30] golbin opened #145 "Support CJK subjects"
I love this project! :-)

But there is one small problem for me. I'm Korean and using "한글(Hangul)" which is Korean character. And I just noticed that slate doesn't support CJK subjects for menu, especially for link.

The problem is from line 3 in redcarpet_header_fix.rb. The **.gsub(/[^a-zA-Z0-9-_]/, '')** remove CJK characters.

And there are two kind of way to solve.
1. Remove that method.
2. Ch

[2014-12-11 22:29] #145 closed, assigned to nobody

[2014-12-12 20:31] larry-tx opened #146 "Port to non-Ruby environment"
I hope that someone will port this excellent tool to a non-Ruby environment. I've spent the better part of **six hours** trying to get this installed on a Windows machine and did not succeed -- all ruby problems, not yours. It has always been this way every time I've tried to do anything with Ruby. It just isn't worth the time, effort, and eventual, inevitable failure.

[2014-12-12 23:36] #146 closed, assigned to nobody

[2014-12-14 03:47] sureshp1980 opened #147 "How to convert Markdown to Html"
Hi, I have a Markdown (.md) for my API documentation. Now I want to convert it to HTML pages.

Can can I do this using Slate? I have setup Slate in my machine, and able to see the sample Kittens PIA spec in http://localhost:4567

[2014-12-20 19:58] thelinuxlich opened #148 "i18n?"
Is there any support planned for it?

[2014-12-20 21:28] #148 closed, assigned to nobody

[2014-12-20 21:29] #147 closed, assigned to nobody

[2014-12-23 01:39] mattespineli opened #149 "Middleman question"
Hey all. I'm still learning the ropes with GitHub and Slate, but I managed to get middleman up and running, made changes to the index.md, and was able to publish my changes.

All was going well, but now I can't get middleman to start. Whenever I try to start the middleman server, it says it's loading and then does nothing. What am I doing wrong?

Thanks in advance!

![screenshot 2014-12-22 17 38 2

[2014-12-23 23:41] taylorren opened #150 "Slate document to search Chinese seems not working"
Installed Slate and running. Modified the `index.md` and now contains Chinese characters. The search function seems not working for Chinese characters.

It is by right not an issue or bug, but more a feature request.

[2015-01-01 00:51] taylorren opened #152 "Some interesting formatting issues"
I have defined a _test.md file to see how to make the best out of the layout: content side, code side, etc.

The md file excerpt as below:

<pre>
## `p` Element

<aside class="notice">The below is for explanation on `p` element.</aside>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ullamcorper ornare purus, a eleifend ...

Let's see an example.

[code]
###Attributes

- A1: Mauris vi

[2015-01-04 06:50] yazinsai commented on #152
I still can't tell .. Is this an issue or a suggestion?

[2015-01-04 11:53] taylorren commented on #152
If such a presentation logic is not in the current release, it is a feature request; otherwise, it is an issue.

[2015-01-08 03:54] lord commented on #152
Aha! Sorry, ignore my first comment, I misunderstood your problem.

So to make sure I understand, the code samples for A1 are too long, so the code samples for A2 aren't next to the explanation for A2, and that's confusing...right?

It's a hacky solution, but you can force things to line up by putting `div`s above the item pair, which will force it to line up as though there is an invisible `h2` a

[2015-01-08 09:33] svantroyen opened #153 "Can't install bundle on Mac OS Yosemite"
Hello,

it's probably a stupid question, but i can't install the bundle on my mac os yosemite computer.
When i try bundle install, i receive "An error occurred while installing therubyracer (0.12.1), and Bundler cannot continue.
Make sure that `gem install therubyracer -v '0.12.1'` succeeds before bundling"
But i i try to install therubyracer, i also have errors : "
ERROR:  Error installing therub

[2015-01-08 15:52] lord commented on #153
Hey @svantroyen...looks like you're having a problem with `therubyracer`, which isn't part of the Slate codebase. Maybe some of the stuff in [this thread](https://github.com/cowboyd/therubyracer/issues/304#issuecomment-54655327) will help though? Looks like there's other users with your problem.

[2015-01-08 15:52] #153 closed

[2015-01-09 13:28] taylorren commented on #152
Much better. The zig-zag display is more or less correct.

在 2015/1/8 11:54, Robert Lord 写道:

[2015-01-09 13:34] #152 closed

[2015-01-10 22:27] lord commented on #149
:/ hmmm...does 'bundle exec middleman server --verbose` give any more information?

[2015-01-12 16:47] natebird commented on #138
I’m also interested in seeing this implemented.

[2015-01-12 16:59] natebird commented on #138
@ApoorvSaxena The repo link provided above links to just a forked repo without any changes (at least I couldn’t see anything different). Maybe they weren’t pushed? Thanks…

[2015-01-12 22:10] lord commented on #138
@natebird I believe @ApoorvSaxena put the changed code in a different branch of that repo.

[2015-01-12 22:59] mattespineli commented on #149
Here's what it says:
![screenshot 2015-01-12 14 56 40](https://cloud.githubusercontent.com/assets/10159122/5712950/8627c8e8-9a6b-11e4-87fe-414054c1aa64.png)

[2015-01-13 13:38] natebird commented on #138
I see that. Thanks!

[2015-01-14 15:33] tkotech opened #155 "Includes list just displaying as text"
I've been trying to get includes working in Slate but It doesn't appear to want to work for me. At first I tried my own folder structure under the includes directory, but as a last resort I decided to try setting things up exactly as in the documentation (and then copy and paste the lines in the wiki to line 1 of index.md) With no useful result:

You can see my index.md and folder structure here:

[2015-01-14 19:31] tkotech commented on #155
figured it out, stupid mistake on my part (sorry!)

[2015-01-14 19:31] #155 closed

[2015-01-14 19:50] lord commented on #155
No worries! Glad your problem is resolved.

[2015-01-14 22:48] swarzech opened #156 "language_tabs not working"
I just forked the slate repository and was testing it out locally and noticed that all of the languages are showing up in all tabs.  Do you know what might be causing this issue?

Thank you.

![image](https://cloud.githubusercontent.com/assets/197128/5749263/5e755d5a-9c15-11e4-854d-d1b69cfd9aa5.png)

[2015-01-14 23:21] lord commented on #156
Hmm, odd, `master` seems to be working just fine for me. Do you get any browser errors, and are you sure you're on the latest version of Slate?

[2015-01-15 11:36] swarzech commented on #156
Ok, so it was not a browser issue but a gem issue.  I had run bundle update instead of bundle install and the rouge update was breaking slate.  If you lock the gem to 1.7.2 there is not an issue.

[2015-01-15 18:37] lord commented on #149
Hmm...doesn't tell us much. I apologize, but I'm not really sure how else to diagnose the problem. :disappointed: If you can't find the source of the problem yourself, but still desperately want to use Slate, you could run Linux in a virtual machine, or use Docker with the `Dockerfile` in the repo.

I'm going to close this since it's not actionable, but feel free to continue posting if you find ou

[2015-01-15 18:37] #149 closed

[2015-01-15 18:41] lord commented on #156
Excellent! Thanks for the bugfix. :smile:

[2015-01-15 18:41] #156 closed

[2015-01-15 18:42] mattespineli commented on #149
Sure, thanks for the help. I'm still using Slate, it's just that I can't preview changes to the document using the Middleman server. I just have to do a `rake build` any time I want to see the changes. A bit cumbersome, but it works.

[2015-01-20 08:07] hossam-fares opened #160 "Use includes functionality in all markdown files"
[Includes](https://github.com/tripit/slate/wiki/Using-Includes) is a really nice feature, but It will be more helpfull if we can use it on all md files not only the index.md file.

[2015-01-20 13:04] s12chung commented on #138
@lord when do you think this will be implemented? thanks.

[2015-01-20 18:43] lord commented on #160
@hossam-fares, I *believe* you should be able to use it on other `.md`, but it's been a while since we implemented that feature and I may be wrong. Have you had trouble with using them on other pages?

[2015-01-20 18:46] lord commented on #138
@s12chung I unfortunately can't give a definite time, but it's on my todo list.

[2015-01-22 07:06] anand892 opened #161 "Slate does not seem to support Nodejs."
When i try to use nodejs in the language tabs. It is not able to properly select the portion in the markdown.

[2015-01-22 15:31] JonGretar commented on #161
Use javascript syntax and use the naming feature in the language tabs.

[code]

Wiki Page [Customizing-the-Language-Tabs](https://github.com/tripit/slate/wiki/Customizing-the-Language-Tabs)

[2015-01-22 16:01] lord commented on #161
^ This is right, you need to list it as `javascript`, not `nodejs`, and use `javascript` in your code blocks as well. If this wasn't the problem, feel free to reopen @anand892.

[2015-01-22 16:01] #161 closed

[2015-01-22 20:33] brettatoms opened #162 "Code sections don't properly hide"
I'm not sure the reason for this change but it makes it so that the ```<pre>``` tags around the ```<code>``` tags don't properly hide and take up unnecessary space when they're not being displayed.

https://github.com/tripit/slate/commit/902ddd7fdc370c24946771fafee74d4873b5e560#diff-40244b7e7c4c992814e96e992a9821f7L29

[2015-01-23 07:12] lord commented on #162
Gah!! I see that. Sorry about the trouble, there's been a lot of funkiness where various versions of RedCarpet changed the HTML output of code blocks, and a merge must have screwed something up. :confused: I'll fix this ASAP, hopefully tomorrow. Thanks for the bug report!

[2015-01-23 11:32] wmakeev commented on #152
Maybe add a description of this hack in the documentation?

[2015-01-23 14:02] DraperStudio opened #163 "Add section seperators in the sidebar"
I am currently building a documentation with slate and I would need to add dividing headers to the sidebar. I have 2 different lists of includes but the issue is that the h1 elements get converted to lists since they equal the # in the *.md files. Also I can't just change the h1 elements to h3 or spans since they then get shown in the second column instead of the sidebar.

[code]

Here is a screen

[2015-01-23 15:58] brettatoms opened #164 "Update rouge dependency"
The newer rouge gem has some nice fixes.  In particular HTTP PATCH method support.  The latest version is 1.7.7.

[2015-01-23 20:21] brettatoms commented on #164
Actually, rouge > 1.7.3 breaks the languages tab.  I haven't looked into why.  rouge 1.7.3 seems to work though and has the PATCH method.

[2015-01-23 20:53] lord commented on #164
Yup, I'm updating dependencies either later today or tomorrow, and I'll be sure to take care of this then. Thanks for the tip! :smile:

[2015-01-23 20:53] #164 closed

[2015-01-23 20:55] lord commented on #152
@wmakeev I don't know...I'd rather not have this hack documented officially. Is this a feature that is commonly needed?

[2015-01-23 21:01] lord commented on #163
Sorry, I'm just a touch confused...by "sections" do you mean like a higher level header than what we currently provide, like a way to group together `h1`s in the navigation bar? Also, I'm slightly confused by what you mean by "h1 elements get converted to lists since they equal the # in the *.md files"...how exactly are you using includes that causes problems?

[2015-01-23 21:23] DraperStudio commented on #163
Yes, it pretty much should be a higher level header which can be used to separate items of the sidebar to keep the sidebar a bit more organized for very large documentations.

In the index.md I have this code
[code]

The snippet for the inclusion of the files into the sidebar in layouts.rb is this
[code]

With this code the h1 elements get converted to ul elements in the sidebar instead of just st

[2015-01-24 02:18] lord commented on #163
Ah, I think so. You want something in the sidebar that looks like "API" and "Methods" in this screenshot (from Stripe's docs):

![screen shot 2015-01-23 at 8 14 31 pm](https://cloud.githubusercontent.com/assets/1976330/5885762/8a0d4378-a33c-11e4-8d89-c519c8e42f6a.png)

But if you put `h1`s in the content area, they don't become sidebar headers like in this screenshot?

[2015-01-24 02:29] lord commented on #162
Fixed in `dev`, should be in master within several days. Thanks for the report. Man, I could have sworn there was a reason I removed the `.parent()`, but I can't remember now. I'll keep testing.

[2015-01-24 02:29] #162 closed

[2015-01-24 02:41] lord commented on #160
@hossam-fares I'm closing this due to inactivity, but feel free to reopen or continue to discuss if you're still having trouble! Thanks.

[2015-01-24 02:41] #160 closed

[2015-01-24 02:54] lord commented on #144
Should be fixed in `dev`...we're switching back to using Redcarpet's default ID generation.

[2015-01-24 02:54] #144 closed

[2015-01-24 07:42] DraperStudio commented on #163
Exactly, that is what I need.

[2015-01-24 16:37] lord commented on #163
Cool! This isn't a feature right now, but I'll add it to the list. :smile: I agree that you should be able to do this. Thanks for the suggestion!

[2015-01-25 08:35] wmakeev commented on #152
I wondered why my documentation looks not so like in some examples. Started to look into the issues and has found this topic with same question.
This hack useful when blocks of code correspond to the sections of the third and lower levels.

[2015-01-27 02:51] marcellodesales commented on #127
+1M... That would make me completely remove all the swagger UI installs... :+1:

[2015-01-27 14:35] mzapletal commented on #149
Just to let you know, I am facing the same issue on Win7 (and the same ruby version)

[2015-01-28 02:50] finalight commented on #160
hi, i tried to implement "includes" in other .md files, but it doesn't for some reason, not sure is it my syntax is wrong or what:

includes:
  - areas

this is what i wrote exactly in the admins.md

then in areas.md:

# Introduction

API documentation for example.com

# test

Attempt to retrieve an oauth token from the server

[code]

[code]

[2015-01-28 19:28] lord commented on #160
You need to name your includes file `_areas.md`, and make sure to put it in the `source/includes` folder. If you change that, does it work?

[2015-01-30 09:08] finalight commented on #160
okay, here is my file structure

root:  index.md
source/includes: _admins.md, _areas.md

i want to include _areas.md inside _admins.md

so the code in the _admins.md would be like this

---
title: API Reference

language_tabs:
  - lua/corona

includes:
  - areas
---

then in _areas.md

## test

### haha

Attempt to retrieve an oauth token from the server

[code]

[code]

however, it doesn't reflec

[2015-01-31 06:03] lord commented on #160
Ahhh...yea, nested partials aren't supported by our build-in `partials` yaml...however, I *think* you can use [Middleman's normal partials syntax](https://middlemanapp.com/basics/partials/) to include partials within partials.

[2015-02-09 07:21] kirimaru89 opened #168 "Can I ignore Controller/Method on runtime?"
I know that I can hide entire controller or method with ApiExplorerSettings, but I wonder if I can ignore it in runtime? For example, I want that [MyController] is ignore base on an AppSetting variable. If its value is "true", then I will show [MyController] in SwaggerUI, otherwise it will not be shown.

[2015-02-09 16:44] lord commented on #168
Sorry, I'm confused...did you mean to submit this issue to the Swagger UI repo? We don't have controllers or methods or `AppSetting` variables.

I'm closing for now, but if you can clarify, feel free to reopen! Thanks.

[2015-02-09 16:44] #168 closed

[2015-02-10 16:56] Double0negative opened #169 "Error trying to run new install"
I followed the steps for a fresh install, all steps completed without problem. However, when attempting to run, I get a error at startup

[code]

All gems seemed to install fine

[code]

[2015-02-12 01:28] lord commented on #169
Weird. Not really sure why that is happening. Just guessing, but if you might not need `therubyracer`...if you just remove it and `execjs` from the Gemfile, `bundle install` and try again, does it work?

[2015-02-12 05:07] Double0negative commented on #169
Yep, after removing therubyracer it runs fine

[2015-02-13 03:18] lord commented on #169
Perfect! Thanks.

[2015-02-13 03:18] #169 closed

[2015-02-13 04:02] Double0negative commented on #169
Thanks for the help. I just tested it on a different install with the same distro and it worked perfectly, so its probably a problem with my setup, not slate

[2015-02-13 05:13] lord commented on #169
:+1: thanks for that tip! good to know.

[2015-02-16 17:58] kspearrin commented on #149
Having the same problem on Windows 8.

[2015-02-17 15:33] RosetteAPI opened #183 "markdown in <asides> now broken"
I had some markdown in my <asides> e.g.:

    <aside class="success">The example JSON returned for *moon.txt*: Each `entityId`, represents a Wikidata page, such as [Q615 for Neil Armstrong](http://www.wikidata.org/wiki/Q1615).</aside>

With the latest build, the markdown no longer shows correctly.

[2015-02-20 16:15] vicchi opened #186 "Installation Error w/ Middleman"
Following the installation instructions, I get as far as step 5 ... `$ bundle exec middleman server` and then things go horribly wrong.

I'm running with the following environment ...

OS X 10.10.2 (Yosemite)
Ruby `ruby 2.1.5p273 (2014-11-13 revision 48405) [x86_64-darwin14.0]` (installed via Homebrew at `/usr/local/opt/ruby/bin/ruby`)

Repository cloned, `bundle install` run without (visible) err

[2015-02-20 21:09] lord commented on #186
Huh, yea, I don't see anything from Slate in that stack trace. I'm going to close it because it doesn't look like there's much we can do on our end, but if you discover anything we can change from the Middleman people, we'd love to know! Thanks.

[2015-02-20 21:09] #186 closed

[2015-02-20 21:17] lord commented on #183
Hmm...that's odd...which version of Slate were you using before? It looks like this was never [a feature](https://github.com/vmg/redcarpet/issues/13) of our Markdown renderer, RedCarpet, but I could be wrong.

[2015-02-20 23:37] thefosk commented on #127
+1

[2015-02-23 09:22] vicchi commented on #186
For information, the problem seemed to be caused by having multiple older versions of Ruby present but not active. Something in Homebrew's environment was borked. A clean Homebrew install had no problems and after some trial and error doing a `$ brew cleanup ruby` stopped the issue happening. Still not 100% clear why this was happening but it's not anymore.

[2015-02-23 18:53] RosetteAPI commented on #183
Thanks Robert,

I was clearly misusing the markdown renderer. Using straight html in its
stead works just as well.

James

On Fri, Feb 20, 2015 at 4:17 PM, Robert Lord <notifications@github.com>
wrote:

--
James Andrews
Senior Product Marketing Manager
Basis Technology
www.basistech.com
617.386.7150

[2015-02-23 22:09] lord commented on #183
:+1: perfect! Thanks for following up.

[2015-02-23 22:09] #183 closed

[2015-02-23 22:11] lord commented on #186
:+1: Thanks for the followup. Glad your problem is resolved!

[2015-02-25 13:47] PhilETaylor opened #191 "[support] style not looking right..."
Please tell me what I am missing.

Your examples look like this:

http://screenshot.myjoomla.io/image/2k0t2Z0z3h3a

When I build I get a larger font, chunky look and feel and a collapsing nav bar... what did I do wrong?

http://screenshot.myjoomla.io/image/2t0W2r1e2q1C
http://screenshot.myjoomla.io/image/3E2T271J3O3T

[2015-02-25 13:48] PhilETaylor commented on #191
brain fart..... I'm a donkey.....

I was running on 127.0.0.1 and for some reason my browser was set to Zoom In several times

[2015-02-25 13:48] #191 closed

[2015-02-25 14:09] lord commented on #191
No worries, happens to the best of us :)

[2015-02-25 14:12] PhilETaylor commented on #191
Honestly dont know why this happened, but it seems google Chrome persists the zoom level per domain name and its not often I use 127.0.0.1 as I use localhost more, lesson learnt :)

[2015-03-06 17:34] MathieuDuponchelle opened #192 "Changing the content of the center column according to the language chosen in the examples column."
We have started using slate to document a library's API (gstreamer-editing-services, the doc currently lives at http://gstreamer.freedesktop.org/data/doc/gstreamer/head/gstreamer-editing-services/html/) .

We work with and implement features in a tool called g-ir-doc-tool, which generates documentation from comments and annotations in the source code to an intermediary format (mallard pages), whic

[2015-03-06 21:19] lord commented on #192
Ah, I see what you mean. Due to the way that Slate is implemented right now, though, it'd be a bit difficult. Right now, the language tabs work by just hiding and showing `div`s on the page, so having separate markdown files — which Middleman would compile into separate HTML files — wouldn't really work very well. At best, a solution would just merge the two files into one HTML file, but that resu

[2015-03-06 21:19] #192 closed

[2015-03-06 22:14] lokeuei opened #193 "Level 3 headers in the TOC"
Is it possible to include level 3 headers into the TOC?

[2015-03-06 22:17] realityking commented on #193
https://github.com/tripit/slate/wiki/Deeper-Nesting

[2015-03-06 23:48] lord commented on #193
:+1: Yup! I didn't write that article, but it looks right to me!

[2015-03-06 23:48] #193 closed

[2015-03-08 23:27] MathieuDuponchelle commented on #192
Hey, thanks for the answer, wrt "merging both markdown files into one", I'm not sure I see what you mean? The second solution I had thought about, but ideally I'd like to have really *everything* in the same place :)

[2015-03-09 00:57] lord commented on #192
I guess if there's enough similarities between the docs, you could copy over just the code from one to another? If major things are changing on the left of the page, though, you'd probably best use either the second method, or another documentation system, because Slate's languages aren't designed to do that.

[2015-03-10 19:03] MathieuDuponchelle commented on #192
OK, thanks for the answer, the main difference is function prototypes, so merging might indeed be an idea, we'll see :)

[2015-03-10 21:00] MathieuDuponchelle opened #198 "Parse markdown links inside code blocks"
It would be great if the example code could contain links too, I don't think it is possible with github flavored markdown though?

In my case, even the most basic examples use functions from different parts of the API, being able to quickly jump to the symbol definition would be very helpful.

[2015-03-10 21:01] MathieuDuponchelle commented on #198
Here is an example :

[code]

[2015-03-11 23:10] davis opened #199 "JSON syntax highlighting customization?"
When highlighting json, it looks like this (all green):
![screen shot 2015-03-11 at 4 09 16 pm](https://cloud.githubusercontent.com/assets/4855619/6608936/f8674120-c808-11e4-8b0b-9fefa18be501.png)

and I'm hoping it could look more like:
![screen shot 2015-03-11 at 4 09 51 pm](https://cloud.githubusercontent.com/assets/4855619/6608943/0c1b8514-c809-11e4-8457-ca3d5f74d89a.png)

Where can I customiz

[2015-03-12 18:33] lord commented on #199
Hi! You should be able to replace [this line](https://github.com/tripit/slate/blob/master/source/stylesheets/syntax.css.scss.erb#L19) by either swapping `Base16::Monokai` out with another Rouge theme, or replacing the entire line with any Pygments compatible theme.

Let me know if that helps, or if you have any other questions!

[2015-03-12 18:33] #199 closed

[2015-03-12 18:36] lord commented on #198
Hmm, that would be awesome, but it would require a lot of patching of our Markdown engine. If this feature were to exist, would you hypothetically add links manually to every function?

I also wonder how in line this is with Slate's primary purpose, which is to document API endpoints, not symbols in API libraries.

[2015-03-12 18:37] lord commented on #192
Cool. :smile: Hope it works out!

[2015-03-12 19:17] davis commented on #199
Thanks, I eventually found it. :)
Great work!

[2015-03-12 20:08] lord commented on #199
:smile_cat: thanks!

[2015-03-13 09:48] MathieuDuponchelle commented on #198
Well I wouldn't add the links manually, as we generate the documentation from comments and annotations in the code, and I have code that can automatically resolve internal and external references. My WIP starts to be showable, you can see it at http://mathieuduponchelle.github.io/slate/ if you're interested. As for Slate's purpose, I don't know, but the links would be to API endpoints.

[2015-03-16 16:13] heinrichvk commented on #65
We have the exact same question. Is there a way to specify multi-line code that will stay in the center column.

Is is possible to change the logic of single backtick code?

Anyone has a solution for this?

[2015-03-19 09:43] lisinge commented on #134
I experienced this as well and i did some looking around.
It looks like middleman had some problem with partials and different engines before, this was fixed in middleman/middleman#1338 and the fix is included since middleman v3.3.7.
I forked slate when it was locked to v3.3.6 so i just had to update middleman and it worked perfectly.

[2015-03-19 13:07] zevmo commented on #127
+1

[2015-03-20 15:57] zachizi opened #203 "Can't escape a pipe character in tables."
AFAICT it isn't possible to escape a pipe character `|` in tables. E.g. in the following:

[code]

everything after the backslash won't be displayed because the pipe isn't being escaped.

[2015-03-20 16:02] lord commented on #203
Thanks for the bug report! We don't really have much control over how the Markdown is parsed, so our Markdown processor, [RedCarpet](https://github.com/vmg/redcarpet), would probably be the right place to file this issue. :smile:

[2015-03-20 16:02] #203 closed

[2015-03-20 16:02] zachizi commented on #203
sure thanks, will report there

[2015-03-25 00:04] oytuntez commented on #127
This is probably the only reason I have doubts about using Slate :) Nobody seems to like Swagger UI.

[2015-03-25 06:46] NamPNQ opened #205 "Add suggest mode"
I think need add suggest mode for another people can comment

[2015-03-25 17:28] lord commented on #205
As in, a way to comment on the docs, and suggest updates?

[2015-03-26 03:51] NamPNQ commented on #205
yes

[2015-03-26 20:01] lord commented on #205
If you just host your sites on Github, is that sufficient? People can submit issues through Github. I'm worried a built-in suggest mode would be a little heavy and out-of-scope for this project.

[2015-03-27 13:53] rootical opened #207 "A static version generation?"
Slate is great.
But what if i want to serve it not at the gh-pages or any other cloud? I mean even to let someone auto generate it at one's end.

Basically it looks like a one page html. Why do we need to run a middleman server then to view it locally?
Any option to let us generate a static version of docs would be highly appreciated.

[2015-03-27 15:44] realityking commented on #207
https://github.com/tripit/slate/wiki/Deploying-Slate#publishing-your-docs-to-your-own-server

[2015-03-27 15:45] rootical commented on #207
Sorry, problems with attention. Thanks

[2015-03-28 03:12] lord commented on #207
No problem, we all space out sometimes. Thanks for helping link @realityking!

[2015-03-28 03:12] #207 closed

[2015-03-30 12:59] hossam-fares commented on #160
@lord   Thanks for reply, do u have any example on how can I use middleman syntax inside my md files?

[2015-03-30 23:25] lord commented on #160
@hossam-fares You should be able to use the `<%= blah %>` syntax in a `.md.erb` file.

[2015-04-02 14:49] KayLuke opened #209 "Best way to add google analytics code"
What's the best, most sustainable way to add google analytics functionality without overwriting it with every build or whenever we're merging in the latest code?

We could edit our fork to always add the google analytics code to index.html during the build process, but I wanted to see what others are doing first.

Thanks!

[2015-04-03 17:17] chriskinsman opened #211 "Duplicate Headings don't work"
I have two sections with duplicate headings.

When tocify builds the toc it appends a unique index to the second heading but when you click it and it expands the TOC it gets confused and adds elements from the first second under the clicked link.

[2015-04-03 17:25] chriskinsman commented on #144
Was there a fix for this?  We are hitting this and all the issues appear to be closed but I can't see a merge which fixes the issue...

[2015-04-03 17:27] chriskinsman commented on #59
Is this change checked into a repo somewhere?

Thanks!

[2015-04-03 17:30] chriskinsman commented on #211
Found this is a duplicate of #59 and/or #144 but I can't find any checkins that reflect the changes for the closed issues.

[2015-04-03 17:36] chriskinsman commented on #211
Updated gemfile and config.rb and problems cleared up.  Thanks!

[2015-04-03 17:36] #211 closed

[2015-04-03 19:41] chriskinsman opened #212 "Duplicate Headings break highlighting in TOC"
I have two different includes each with the same

##Test Heading

When scrolling the page the highlights in the TOC are off by several items and in come cases the wrong section is expanded

[2015-04-04 16:17] lord commented on #211
:+1:

[2015-04-04 16:19] lord commented on #212
Is this fixed in the `dev` branch?

[2015-04-04 21:20] alanhartless opened #213 "Clicking an item selects the one below it when using a second nested TOC level (h3)"
I've followed the wiki document for deeper nesting and added a h3 level and the CSS.

The problem is that the click action for the second level seems off as clicking an item selects the link below it (completely rendering the first item useless). If I click the last link in the second level, all works well.

As I watch the DOM and the URL, it seems that it tries to select and highlight the correct

[2015-04-04 21:27] alanhartless commented on #213
Just as a FYI, the same thing happens when using the dev branch.

[2015-04-04 22:28] lord commented on #213
Pinging @jonathan-s, who wrote that wiki page.

[2015-04-05 18:24] NamPNQ commented on #205
I think can using diqus for comment
@see: http://docs.opened.apiary.io/

[2015-04-06 18:43] lord commented on #212
:+1: Thanks!

[2015-04-07 03:28] JayMiao opened #214 "Styling for h3s with only chinese characters look like normal text"
i wrote a file in the include like this, but the ### 参数 won't show as a h3, it's just a text, but when i change it to English，it works as h3. I use Mac OS.

    # Item

    ## Get
    获取Item

    ### HTTP Request
    `GET /item/$item_id`

    ### 参数
    参数名 	  | 默认 	| 说明
    --------- | ------- | -----------
    item_id   | null	| 要获取的item_id

[2015-04-07 03:45] lord commented on #214
Hmm. Does it work if you add an empty line after the header?

Also, could you just give the `dev` branch a try and see if there's still problems.

[2015-04-07 04:02] JayMiao commented on #214
I found it's about the fonts. Seems not support chinese to h3(or bold?).
You just change the demo can show you the bug. 
the environment is mac os 10.10.2 and chrome 41.0.2272.104.
But my colleague seems work well with windows 8 + chomre.

—
Sent from Mailbox

On Tue, Apr 7, 2015 at 11:45 AM, Robert Lord <notifications@github.com>
wrote:

[2015-04-07 04:32] lord commented on #214
I don't have time to look at it now, but I'll keep this in the bug queue and take a look when I can. Thanks for reporting!

[2015-04-07 05:12] JayMiao commented on #214
Looking forward for your fix. And slate helps me very much.

—
Sent from Mailbox

On Tue, Apr 7, 2015 at 12:32 PM, Robert Lord <notifications@github.com>
wrote:

[2015-04-07 05:57] lord commented on #214
Thanks! In the mean time you should definitely be able to just use `<h3>` tags directly in your `.md` file.

[2015-04-07 06:26] JayMiao commented on #214
![4018bd79-4b48-48b4-b59f-f454f0fefa52](https://cloud.githubusercontent.com/assets/3090408/7017973/b6ceff44-dd31-11e4-8211-489d73fb49ed.png)

The picture will help.

[2015-04-07 06:45] lord commented on #214
Ohhhhhh.

I see now! The styling and rendering are working just fine — it's just that the styles for `<h3>`s look like normal text for Chinese!

I can fix this — I've added it to the bugs list. Thanks for the report!

[2015-04-07 06:47] JayMiao commented on #214
┏ (゜ω゜)=☞

—
Sent from Mailbox

On Tue, Apr 7, 2015 at 2:45 PM, Robert Lord <notifications@github.com>
wrote:

[2015-04-07 14:18] jonathan-s commented on #213
@alanhartless, you can see it working here: https://apidocs.serverdensity.com
Perhaps you can provide the non-working code? I also added some example styling in the wiki.

[2015-04-07 14:43] alanhartless commented on #213
Hi,

Our forked repository is at https://github.com/mautic/developer-documentation.  I am using includes to try and organize the docs a bit.  Could that have an effect?

For styling, I added this to screen.css.css to style the new level:

[code]

Here's a screencast showing what I mean too (note that all the extra styling came after this issue was discovered so shouldn't be related). http://record

[2015-04-07 21:11] jonathan-s commented on #213
Try rebuilding it? I just did a git clone on your repo and built it. Works
for me no issues.

*Jonathan Sundqvist*
Twitter <http://www.twitter.com/ecologythinking> | Linkedin
<http://se.linkedin.com/in/jonathansundqvist> | Support me
<http://bit.ly/gittipJS>

On Tue, Apr 7, 2015 at 3:43 PM, Alan Hartless <notifications@github.com>
wrote:

[2015-04-07 22:48] alanhartless commented on #213
Hi Jonathan,

I really appreciate your willingness to help!  I was just using the middleman server and didn't try building static pages so gave that a shot via rake build, but I'm afraid I'm still running into the same issue.  Tried in chrome, FF (although I see there are styling issues with FF), and Safari and all three have the same result of the original issue.

Any thoughts on what could be ca

[2015-04-08 00:13] aviramvijh commented on #163
I need this feature too! Thanks to those who have already contributed to the conversation.

[2015-04-08 02:14] aviramvijh opened #215 "Formatting goes haywire with a minor change to text"
Hi Slate team and @lord

Thank you for this wonderful tool, which suits my needs very well. I am running into some formatting  issues that occur when I make even minor changes to different parts of my content. Sometimes the heading 2 (##) alignment goes for a toss, or sometimes the contents of a table are all boldfaced. As a result, I am having to save and preview each change I make to prevent spo

[2015-04-09 02:57] alanhartless commented on #213
Just an update on this.  I'm starting to fill in content and it seems that having actual content does affect this and forces the doc to act as it should.  I'll verify this as I write more content and will post back.

Thanks!
Alan

[2015-04-09 23:43] lord commented on #213
:+1: Let us know if it starts working, and we can close this issue.

[2015-04-11 17:34] alanhartless commented on #213
Yea, it seems that adding content snaps things back in line.  So I believe this is okay now.

[2015-04-11 17:34] #213 closed

[2015-04-14 00:05] aviramvijh commented on #215
@lord Please have a look at this if you can. Any one else is also welcome to pitch in!

[2015-04-15 01:11] lord commented on #215
Sorry! This issue slipped though.

Hmm...could you post a Gist of a `.md` file that has errors sometimes? It'd also be helpful if you could inspect the HTML of a page with errors and the HTML of a page without, to see if any sort of weird HTML is being generated.

[2015-04-20 02:02] aviramvijh commented on #215
@lord Thanks for your response. You are right, the HTML is where the problem lies...some sort of rendering issue when MD is converted to HTML. The problems are very random and can occur even when I change a letter, and more frequently occur when I use a previous section as a template to create a new one (like in the attached Gist file). The topic/heading that goes haywire seems to be automatically

[2015-04-21 19:40] redpiano opened #229 "web pages don't reflect changes made in the source files"
Hi,
I'm new to API documentation. I really like the look of Slate and can't wait to get started. I believe I have everything set up correctly (used boot2docker to install Slate on OSX). However, when I make changes to the source/image/logo.png or to the index.md files, the changes are not reflected in the web browser after refresh. I've been at this for 2 days and I can't figure out what I'm missi

[2015-04-21 19:47] lord commented on #229
Does this PR fix your problem? https://github.com/tripit/slate/pull/228

[2015-04-21 22:19] mattchue opened #230 "Adding addtional CSS files into the project"
Hello!

I'm just getting used to Slate and how its workflow is set up. Is there any way to add in additional styles or JS? I didn't see anything in the docs. For instance, I would like to be able to substitute icomoon with another font icon collection.

Thanks!

[2015-04-21 22:35] lord commented on #230
If you create new files called `blah.scss` in the `stylesheets` folder, you can import them into `screen.scss` just like [other scss files](https://github.com/tripit/slate/blob/master/source/stylesheets/screen.css.scss#L2-L6) are imported!

Slate is a middleman project, so if you want more information about making big structural changes to Slate, a good place to look is the [middleman docs](https:

[2015-04-21 22:35] #230 closed

[2015-04-22 12:51] redpiano commented on #229
Yes, that resolved it. Thanks.

[2015-04-22 12:51] #229 closed

[2015-04-27 00:47] derek-watson opened #233 "Bower package"
Is there any interest in publishing a http://bower.io package? It would publish the slate build artifacts (`build/*`) so people can include it in their own project and produce slate documentation without having to run middleman.

[2015-04-27 10:19] yukkyyuk commented on #215
I have exactly the same problem.

[2015-04-27 22:58] aviramvijh commented on #215
@lord Any update will be very appreciated.

[2015-04-28 09:15] stuwilson commented on #163
+1

[2015-04-29 08:35] realityking commented on #233
While I'd like to see slate use bower to get dependencies, I don't think it's paticularly worth it to publish it as a package.

You can't use it as a dependency since you need to at least modify the index.html, so what advantage does the package bring? I also dislike having the build directory checked in.

[2015-04-29 11:11] Leventhan opened #236 "Markdown not rendered within <aside></aside> notices"
Pulling the latest commit, the below markdown:

[code]

Renders the following:

![screen shot 2015-04-29 at 7 10 23 pm](https://cloud.githubusercontent.com/assets/1084226/7389721/66261c8e-eea3-11e4-9c4b-80aeb1af4d87.png)

As you can see, the Markdown for 'meowmeowmeow' is not actually rendered. Is this a bug?

[2015-04-29 15:12] derek-watson commented on #233
Hey there, thanks for getting back to me. No trouble if you're not interested in merging the Bower branch, I've got a fork and a package published from there and I'm happy to maintain it outside of the core repo. If you like though, I can share my rationale and some thoughts for how we might be able to push the Slate project forward a bit. This comes from my own experience using it.

**Pain point:

[2015-04-29 15:18] derek-watson commented on #233
Oh one more thing, you mentioned you disliked having the `build/` directory checked into the project. Unfortunately, this is how Bower works - it uses GitHub repositories as a backing and has no build system, so built assets must be versioned.

You can see many examples of leading front-end projects working this way:

https://github.com/jquery/jquery
https://github.com/twbs/bootstrap
https://githu

[2015-04-30 02:13] #233 closed

[2015-04-30 20:31] lord commented on #233
@derek-watson yea, I'm just a little worried since the way Slate works, at least as far as I can tell, isn't very conducive towards having it as a Bower package. Although people could edit the HTML themselves, I feel like Markdown is much more pleasant, right?

Thanks for the suggestion! :smile: It's always good to consider what we could be doing better.

[2015-04-30 20:34] lord commented on #236
As far as I can tell, RedCarpet, our Markdown renderer, used to render stuff inside HTML blocks, but no longer does so? Unfortunately, it's not something we can fix with Slate — it's a feature that would need to exist in RedCarpet. You can see #183 for details.

:crying_cat_face: sorry about the inconvenience. I liked the other way too. We should probably update our example.

[2015-04-30 20:34] #236 closed

[2015-04-30 21:12] lord commented on #215
Any chance you could try again on the `update` branch after running `bundle install`? `master` is on a pretty old & funky version of RedCarpet.

[2015-04-30 23:50] aviramvijh commented on #215
@lord Thanks for your response. I tried it with the update branch but the problem persist :(

[2015-05-01 03:06] kingbrendann opened #240 "Links should work when inside an aside block."
Currently, hyperlinks don't render inside an aside block. Just the text is shown - no link.

[2015-05-01 03:07] #240 closed

[2015-05-01 03:08] kingbrendann commented on #240
Nevermind. I realized I can just add it as an html anchor block. It would be nice if that wasn't necessary, but it's an acceptable workaround.

[2015-05-01 04:11] kingbrendann commented on #163
Dupe!

[2015-05-05 12:14] filipw commented on #215
I have the exact same problem, I can't generate the docs correctly as always one of the h3 is messed up.

See this screenshot:
![screenshot 2015-05-05 14 11 34](https://cloud.githubusercontent.com/assets/1710369/7472256/d3288c4a-f330-11e4-9fa4-d56eaa7a42b8.png)

And corresponding markdown (which seems correct to me, doesn't it?)

         ## POST api/Values

[code]

[code]

         ### HTTP Reque

[2015-05-05 12:16] filipw commented on #215
and, similarly to what others reported, the HTML has plain text rather than the expected h3 tag

![screenshot 2015-05-05 14 16 01](https://cloud.githubusercontent.com/assets/1710369/7472294/502a6952-f331-11e4-8c6c-5cafff739974.png)

[2015-05-05 12:24] filipw commented on #215
BTW, I was able to work around it by replacing `##` and `###` with `<h2>` and `<h3>` in the markdown file, but clearly there seems to be some issue in how these two headers are parsed when using hash.

[2015-05-05 22:11] aviramvijh commented on #215
Wow, thanks @filipw . If this workaround works, you've saved me a lot of trouble. @lord please take note of this. I'll post feedback soon.

[2015-05-06 00:43] lord commented on #215
Hmm, this is such an odd bug. I can't replicate the weird markdown errors at all with the samples you've provided. I wonder if this is due to a RedCarpet bug specific to some weird thing on your computer — maybe some sort of weird configuration, or a memory-related bug in RedCarpet. As far as I can tell, it's not a bug with Slate, since we don't do anything special with the Markdown to HTML conver

[2015-05-06 03:37] oubiwann commented on #138
+1 for this feature; crucial for my projects.

[2015-05-06 10:55] filipw commented on #215
Looks like this happens only on Windows. My original issues all occurred when running on Windows.
Using same file on OS X creates the HTML correctly without any issues at all times.

Guess shouldn't have used Windows :smile:

[2015-05-06 18:06] kbrandl opened #244 "Add support for re-usable "snippets" of markdown"
Within the index.md file, I have a chunk of content (markdown) that appears in multiple locations throughout the file.  I'm looking for a way that I can author/define that content in one place only, and then have it inserted in the specific (multiple) locations I specify throughout index.md.

For example, let's say I create a markdown file named "snippet1.md", that contains the chunk of markdown t

[2015-05-06 21:36] aviramvijh commented on #215
@filipw  @lord I was just about to mention that I suspect this might the problem. However, a slightly tricky question I have, and Lord can probably answer it, is whether these issues would then disappear when we eventually publish the pages to the web (externally)....because that wouldn't have anything to do with Windows/Mac?

[2015-05-06 22:11] lord commented on #215
Aha! Yes, we don't support Windows unfortunately. I'd suggest using the Dockerfile, which should build Slate correctly.

The issues will actually still be there, since when you publish, the thing that converts the Markdown to HTML runs on your computer, and uploads raw HTML to Github. :confused: Sorry.

I'm going to close this since it seems to be just a Windows thing, but feel free to continue di

[2015-05-06 22:11] #215 closed

[2015-05-06 22:15] lord commented on #244
If you rename your index.md file to index.md.erb, you can use any sort of embedded Ruby in the file that you'd like. So you could, somewhere in the file, define a function:

    <%
    def meow(name)
        "Why, *meow* to you, #{name}"
    end
    %>

and then use it somewhere else:

    Cats are pretty cool. <%= meow("Bob") %>

it should render in HTML something like like

    <p>Cats are prett

[2015-05-06 22:15] #244 closed

[2015-05-06 22:32] aviramvijh commented on #215
Thanks guys for your help.

[2015-05-06 23:28] kbrandl commented on #244
Great info -- thanks for the quick reply!  I didn't realize you could rename index.md to index.md.erb.  Now that it's an .erb file, I can use "partial" to pull in markdown from other files.

For anyone that might be looking to solve for a similar scenario, here's what I've done:

* renamed index.md to index.md.erb
* renamed each of the .md files in the /includes folder to also have the .md.erb fil

[2015-05-07 00:11] lord commented on #244
:+1: thanks for sharing!

[2015-05-08 09:15] thibaudgg commented on #163
:+1:  would be really nice to have!

[2015-05-08 18:04] maknoon opened #245 "Using a script to render the markdown for 'private' portion of API doc"
Hi,
I have certain endpoints in my API that are private / that I do not wish to have on the root page of the docs, but rather on a separate url. I have marked every endpoint as (private) in Markdown, is there any way to parse this notation (either when it's in Markdown or HTML), and then make those HTML divs "invisible" in one page and visible in another one?

I was wondering if you have any tips

[2015-05-11 08:01] JayMiao opened #246 "Syntax won't support tag <pre>"
I wrote a json like this, but won't show anything on web. When I change it to `<code>` it shows up.
so the slate syntax doesn't support \<pre\> tag?
[code]

[2015-05-12 05:31] wrwatson commented on #127
+1 I agree with @oytuntez that this is the best thing about swagger and would be excellent in slate.

Is there any way to achieve this currently for a RESTful API that can be accessed with basic-auth and GET/POST requests?

[2015-05-13 04:15] lord commented on #246
Yup! Just use `<code>`. You could also use triple backtick, like:

[code]

[2015-05-13 04:15] #246 closed

[2015-05-13 04:23] lord commented on #245
Hmmm...if you create a partial in `source/includes/_foo.md.erb` you can use syntax in this file like
[code]

Then, in two files, `index.md.erb` and `meow.md.erb`, just list `foo` in the includes list. Does that work for you?

I'm going to close this because it's a question, but feel free to continue commenting and let me know if this works, or if you have follow up questions!

[2015-05-13 04:23] #245 closed

[2015-05-13 17:25] maknoon commented on #245
I was not aware that partials could be extended to md.erb files, and your solution solves my problem very efficiently. Thank you so much!

[2015-05-13 17:29] lord commented on #245
:+1: no problem!

[2015-05-13 19:29] 6stringbeliever commented on #215
I also ran into this problem while trying to get Slate working on Windows. I ended up just switching out RedCarpet for Kramdown. Kramdown is the default markup processor in middleman, anyway, so all you have to do is comment out the markdown lines in config.rb. The syntax for code blocks is slightly different in Kramdown (use `~~~ ruby` instead of <code>```ruby</code>). Otherwise everything seems

[2015-05-22 14:33] arevalomalina commented on #160
I would also like to use this functionality.  I'm not using erb though.  Basically I am using a setup similar to what exists in https://github.com/tripit/slate.

I tried using the <%- ... %> syntax, but it didn't work.  Any suggestions?

[2015-05-22 14:40] lord commented on #160
@arevalomalina You need to use an equals sign instead of a dash — `<%=` instead of `<%-`, and also make sure to rename your file from `index.md` to `index.md.erb`

[2015-05-22 15:00] arevalomalina commented on #160
Thanks for the response.  I am using an equals in my code (just made a typo in my question.)

So, my directory structure is now roughly:

index.md.erb
includes/_cards.md.erb
includes/_footer.md.erb

And I want to include footer within cards.  I am using this:

<%= partial "footer" %>

but I get the error message

Error: Could not locate partial: /_footer

[2015-05-22 16:50] lord commented on #160
Ah gotcha! Hmm...if you say `<%= partial "includes/footer" %>` does it work?

[2015-05-27 13:56] christian1993 opened #258 "Unknown country code"

[2015-05-27 13:57] #258 closed

[2015-05-28 18:14] sman591 commented on #138
+1, it's a requirement for my current project

[2015-05-28 19:38] kevin-r-tao commented on #163
:+1:  Would love to see this.  We're currently resorting to using `h1`s of "------------" to separate our sections and it hurts my eyes...

[2015-05-30 00:57] kevin-r-tao commented on #163
This is possible to do with CSS using regular "#" headers, if you don't mind that you have to hard-code your CSS to the header names.

I added this CSS in order to get my section headers with the names "API Reference" and "Additional Reference" to appear as section headers in the TOC:

[code]

[2015-06-02 02:33] davis commented on #213
So what if we don't have more content to add? How do we navigate this issue?

[2015-06-02 07:24] jonathan-s commented on #213
Try adding empty content? Like &nbsp;?

On Tuesday, June 2, 2015, Davis Kim <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2015-06-02 07:36] thibaudgg commented on #163
@kevin-r-tao hackish but works great for now, thanks!

[2015-06-02 20:07] davis commented on #213
nevermind -- i found that the issue is that if you have quotes in your headings (single quotes) it screws with the javascript and that was doing weird things. removed quotes and all is well! (should probably escape the titles so this doesn't happen)

[2015-06-04 05:52] wanghaisheng commented on #150
is this one fixed now?

[2015-06-05 15:48] voz commented on #127
+1

[2015-06-05 19:35] lord commented on #150
Nope! It's a tough bug—I haven't looked that much into it, but (I think?) our search library is only english-compatible.

[2015-06-07 13:49] xflouris opened #269 "MathJax and Slate"
Dear developers,

I've been testing [Slate](https://github.com/tripit/slate) the past few days and it looks impressive! I'd like to use it for API documentation, but I'm having some problems with math output.

While math formulas are rendered fine, linebreaking doesn't seem to work.
For example the following snippet

[code]

should produce a two-line table. However, everything is printed on a sing

[2015-06-07 14:01] xflouris commented on #269
I've noticed that changing `redcarpet` to `kramdown` in `config.rb` displays the math formulas correctly (even more complex formulas), but unfortunately the output is printed at the point where the second and third window separate :(

[2015-06-08 09:26] jasonkester opened #270 "Document lack of markdown inside asides"
<aside class="notice">
        This won't be converted to a link: [DeviceIDs](#deviceids)
    </aside>

    ... but this will: [DeviceIDs](#deviceids)

[2015-06-08 13:11] robert-mygind opened #271 "Question regarding json example"
Hi

I use a json example in my slate documentation, but for every " / ", I get " \/ ". I know that \/ is ok json format, but I would prefer to have only one slash.

Do anyone one know what to do ?

[2015-06-08 13:17] robert-mygind commented on #271
sorry I found it.

[2015-06-08 13:17] #271 closed

[2015-06-08 16:32] xflouris commented on #269
It seems that encapsulating the MathJax formula in a <p> ... </p> fixes the issue, when using `kramdown` as the markdown renderer.

[2015-06-09 16:24] 6stringbeliever commented on #270
That's per the Markdown spec. Markdown isn't processed in HTML blocks.

[2015-06-10 21:28] lord commented on #270
Yup! Going to close this as we've seen this report before. If you think this should be changed, or there should be an option to do this, your best bet is to go talk to our Markdown processor, Slate.

[2015-06-10 22:01] lord commented on #269
(I've seen this, just waiting for some free time to dive into finding the problem. Thanks for reporting it! :smile:)

[2015-06-15 01:32] davesnx opened #275 "Possibility of different languages?"
First, amazing project :heart:
I want to say thanks to the simple way to do it. Also, many thanks to all comments and good readable variables in slate.

I'm doing my documentation about an [API](https://github.com/davesnx/docs.wpbase.co) and I need different languages...

I'm talking about "natural" languages, could be nice to implement it no?

I'm thinking to do it with different .md and loading

[2015-06-16 17:23] josecelano opened #277 "Windows support"
This issue is only to allow people vote up for Windwos Support.

I also have this problem: https://github.com/tripit/slate/issues/215

[2015-06-20 01:57] lord commented on #1
Maintaining multiple kinds of input formats I think is a little beyond the scope of this project, so I think I'm going to close this. Sorry to anybody who was hoping this would be implemented!

[2015-06-20 01:57] #1 closed

[2015-06-20 02:07] lord commented on #277
Unfortunately, the problems with Windows reside within our Markdown processor, [RedCarpet](https://github.com/vmg/redcarpet/issues/474), which we can't fix. :disappointed: I'd also enjoy letting Windows users use Slate, but until RedCarpet's bugs are fixed, we're going to have to either point users to running Docker or VirtualBox.

[2015-06-20 02:07] #277 closed

[2015-06-20 02:13] lord commented on #55
We're probably going to drop Tocify in Slate 2, so I'm just going to close this to clean up the repo a bit. :smile:

[2015-06-20 02:13] #55 closed

[2015-06-20 02:19] lord commented on #209
@KayLuke sorry that this question got overlooked! If you put it in your `layout.erb`, you should be able to rebase your changes onto any Slate changes without too much trouble, right?

If you managed to find a better solution, definitely would be interested in knowing what it is.

(Closing because it's a question, but feel free to discuss! :smile:)

[2015-06-20 02:19] #209 closed

[2015-06-20 02:24] lord commented on #275
@davesnx one of the features I'll be implementing soon is a sort of "selector" that would make it easy to switch between several markdown files. Would this solve your problem? Admittedly, you'd have to specify the code files multiple times, but I think that'd be the simplest way to implement it without any crazy ugly code things in your markdown.

[2015-06-20 02:40] lord commented on #205
Hmm, I think I'm going to close this because I don't see a convincing reason for Slate to have comments when the suggested deployment method is on Github, which allows developers to easily comment and submit changes. Thanks for the suggestion, though, and if anybody has strong feelings about the matter, please do speak up! :blush:

[2015-06-20 02:40] #205 closed

[2015-06-20 02:50] lord opened #279 "[POLL] Any interest in Swagger spec support?"
It could potentially be cool if Slate could autogenerate sections based on a [Swagger specification](https://github.com/swagger-api/swagger-spec). It'd be a lot to implement, though, so I'm curious if there's interest.

[2015-06-20 03:02] lord commented on #198
I think I'm going to close this because links inside syntax-highlighted code blocks is tricky (if the link goes across several colors, the nesting of the `<span>`s that define the colors gets funky) and because there dosen't seem to be much demand for this feature. That said, if people have strong opinions, please speak up!

[2015-06-20 03:02] #198 closed

[2015-06-20 03:14] lord commented on #133
When we drop Tocify, I'll be sure to add this!

[2015-06-20 03:24] lord commented on #269
@xflouris It's pretty gross, but

[code]

seems to work for me even with RedCarpet. Not the most pleasant to write, though. :confused: Maybe you'd have better results with writing the MathJAX in html includes so you don't have to do this crazy escaping?

Feel free to reopen if the above doesn't seem to work for you!

[2015-06-20 03:24] #269 closed

[2015-06-20 03:30] lord commented on #87
Closing because we'll soon be moving away from Tocify in v2, so this won't be a problem!

[2015-06-20 03:30] #87 closed

[2015-06-20 04:16] lord opened #280 "Solve the bottom-of-the-page bug"
The thing where you can't get to the bottom item of the ToC if there's not enough content:

![image](https://cloud.githubusercontent.com/assets/1976330/8265976/719db28c-16e1-11e5-8ac6-baaadfbad138.png)

Ideas:
- Add a page-tall footer with a gigantic picture of a cat
- Adjust the distance from the top that the 'current' item has as the page scrolls
- Something else crazy and magical?

[2015-06-20 04:49] lord commented on #214
Should be somewhat-fixed in `dev`, and I'll try to come up with a better solution for Chinese for the v2 redesign. Thanks for the report!

[2015-06-20 04:49] #214 closed

[2015-06-20 05:50] lord commented on #57
Should be fixed in `dev`! Let me know what you think, or if you find any bugs!

[2015-06-20 05:50] #57 closed

[2015-06-20 14:19] ryw commented on #280
This wouldn't be a problem in real-world use, I think — do we expect people will publish API docs that are less than a screen of text, yet use slate to do that?

[2015-06-20 16:21] lord commented on #280
@ryw well, only the very last section of the document would have to be less than the entire page, which is something I see somewhat often.

[2015-06-22 02:19] dclausen commented on #279
+1

[2015-06-22 15:20] WorkForPizza commented on #280
Would love to see a fix to this problem. Totally agree that it is encountered in real-world use.

[2015-06-22 15:30] ryw commented on #280
Got it - working on our slate docs site for http://astronomer.io over the next week or two, I'm happy to have a look at this, give back to a cool project ;)

[2015-06-22 21:59] lord commented on #280
@ryw :smile: Thanks for offering to help! Just as a warning, right now in the `v2` branch that I'm working in, the table of contents is pretty broken (since I'm removing our Tocify dependency). But feel free to make PRs to that branch if you find anything that works well!

[2015-06-23 15:20] davesnx commented on #275
Yes of course! @lord

[2015-06-23 16:10] lord commented on #275
:+1: cool! closing to merge with #138 then.

[2015-06-23 16:10] #275 closed

[2015-06-23 18:49] Firescar96 opened #284 "Unclickable links in chrom(ium)"
I'm running debian, in both chrome and chromium (but not iceweasel/firefox) anchors on the template are not clickable for up to one second after another anchor has been clicked. This applies to the language tabs on the top left which do not change the page upon rapid clicking (rapid being about .5 seconds apart). This also applies to headings on the left which when clicked rapidly give no indicati

[2015-06-24 03:22] wrwatson commented on #277
We're using Slate on Windows.  However, we do have the RedCarpet problem on heading rendering:

See https://github.com/vmg/redcarpet/issues/474

[2015-06-24 13:39] lord commented on #284
Hmm, I can't seem to reproduce the error on my Mac...how difficult would it be to record a video of this behavior?

(Also, Stripe doesn't use Slate :smile:)

[2015-06-25 05:28] acityinohio opened #285 "Redcarpet 3.3.1 Causes Segfaults When Running Locally"
First, just wanted to say thanks for all the work on this (it's a fantastic project and made [our docs](http://dev.blockcypher.com/) much better). Thanks so much.

Just wanted to give you a heads up: when I initially tried merging v1.2 with our docs, it kept throwing segfaults when running:

`bundle exec middleman server`

And then attempting to load the page. Tried in a variety of Rubys (1.9.3, 2

[2015-06-26 07:02] kontinuity commented on #65
+1

[2015-06-26 09:02] carn1x opened #287 "Current page highlighting not accurate"
Using the demo site at http://tripit.github.io/slate/?shell#introduction with Chrome 43.0.2357.130 selecting the `Errors` page in the page menu always expands the `Kittens` menu and highlights the `Get A Specific Kitten` menu item and the address bar states `#get-a-specific-kitten`, however the currently displayed page is the `Errors` page as intended. Clicking `Errors` again retracts the `Kittens

[2015-06-27 01:01] lord commented on #287
Yup, this is a known bug (from #280) — it's because errors is at the bottom of the page, so when you click on it, Tocify scrolls to the bottom, and then checks the top of the viewport to highlight the current section...which is "Get a Specific Kitten". It should be fixed in Slate v2!

[2015-06-27 01:01] #287 closed

[2015-06-28 19:41] lord commented on #285
@acityinohio  :+1: thanks for the report, it looks like they have a regression in `3.3`. Do you know if RedCarpet `3.2.3` fixes the problem for you? They claim it does, and it seems to fix it for me.

[2015-06-28 19:42] lord commented on #285
(Whoops, meant `3.3.2`, not `3.2.3`)

[2015-06-29 11:49] webjunkie commented on #279
+1
Having it autogenerated would be a great starting point for any documentation! I wonder if that could be combined with https://github.com/swagger-api/swagger-codegen, so that for every language that you generate a client for, the slate documentation gets pre made examples... but well, that might be overkill.

[2015-06-29 15:40] WorkForPizza opened #289 "Code block positioning"
Currently my code blocks will sit different places depending on if I have the description above or below the block. Is there any way to make the block fly up to the top of the section? I would like it to sit where it does when the description is placed below the block however would like the opposite in the markdown to increase readability when editing the docs. Here's an example of what I'm talkin

[2015-06-29 18:02] acityinohio commented on #285
Awesome! That did the trick; I fixed and updating the Gemfile dependency in our docs. Thanks again!

[2015-06-29 18:06] #285 closed

[2015-06-29 18:13] lord commented on #285
No problem, thank *you* for the report!

[2015-06-29 18:14] lord commented on #289
Right now, I'm sorry, but the only way to get the correct positioning is to put the code above the description. I agree that this shouldn't be the case, though! I'll see what I can do to fix the problem in `v2`.

[2015-06-30 00:09] aviramvijh commented on #163
@kevin-r-tao Thanks, very helpful!

[2015-06-30 02:49] WyattHRichter commented on #289
try turning off and on your computer

[2015-07-02 08:08] MathieuDuponchelle opened #291 "Crash with my setup"
Grab my branch : https://github.com/MathieuDuponchelle/slate/tree/crash

bundle exec middleman server

Go to 0.0.0.0:4567

The crash should be reproduced.

I have bisected it to that faulty commit :

bb24528f851fdcb7db7016baa3a376926817dbf1 "Update gems" (of course :)

I don't know ruby and it seems the crash is there, if you can't reproduce I'll be happy to follow instructions for providing a rel

[2015-07-02 14:54] lord commented on #291
Yup, the new version of RedCarpet has a segfault. Thanks for bisecting the faulty commit! The `dev` branch has a fix that should be merged into `master` soon. If you just `bundle install` in that branch, I think your problem should be fixed? Let me know if that works for you.

[2015-07-02 14:54] #291 closed

[2015-07-02 14:54] lord commented on #291
(Closing because I think it's a known bug, but LMK if `dev` doesn't work for you and we can reopen!)

[2015-07-02 15:03] MathieuDuponchelle commented on #291
Yop no problem glad to know it was fixed, I'll try later and check if that fixed my issue, thanks :)

[2015-07-06 06:55] JeromeBouvard opened #293 "Images / Left Menu"
Hi all,
I have a problem with inserting multiple images in the documentation : the left menu does not correspond to the documentation while scrolling :
http://developer.parrot.com/slatetest/
If you scroll down, you will see that the left menu will go form all kittens to specific kittens to errors, and the documentation is still showing the images of All kittens section.
Thanks for your help !
Jero

[2015-07-06 07:21] SamvelRaja commented on #293
It is working fine in my FF & Chrome,
can you explain more about the browsers?

![slate-scrolling-image-ff](https://cloud.githubusercontent.com/assets/5114052/8517337/aa43ccf8-23dd-11e5-9515-95e20239f001.gif)
![slate-scrolling-image](https://cloud.githubusercontent.com/assets/5114052/8517338/aa4554d8-23dd-11e5-91f7-dd2cf92f33d9.gif)

[2015-07-06 08:20] JeromeBouvard commented on #293
We are all using Safari here :/
In fact, sometimes it works, and sometimes we have this behavior :

http://developer.parrot.com/slatetest/safari.mp4

[2015-07-06 08:59] djavan-bertrand commented on #293
Hi there,

Same problem on a Chrome 43.0.
* **Scroll down and the table of contents is not synchronized with the content anymore** (*Get a Specific Kitten* and *Errors* is shown on the toc while the *Get All Kittens* content is displayed).
* **Click on a submenu of the table of contents** => the next menu is selected (click on *Get a Specific Kitten* => *Errors* is selected)

[![Issue example](htt

[2015-07-06 16:49] lord commented on #293
:+1: confirmed bug, I'll take a look at it tonight.

[2015-07-07 01:37] lord commented on #293
@JeromeBouvard aha, found the bug! You have some tall images, and the table of contents is caching the vertical position of the headers before the images load. I should have a fix shortly.

[2015-07-07 01:56] lord commented on #293
@JeromeBouvard just pushed a hopeful fix to the `dev` branch. Does that fix your problem?

[2015-07-07 08:00] JeromeBouvard commented on #293
I will check that today !
thanks a lot for that.

[2015-07-07 10:04] JeromeBouvard commented on #293
http://developer.parrot.com/docs/bebop

Seems perfect !

Thanks for the support

[2015-07-07 14:46] lord commented on #293
:smile: No problem! Glad I could fix the problem. When you're done with your docs, if you feel like adding it to the [examples in the README](https://github.com/tripit/slate#examples-of-slate-in-the-wild), feel free!

[2015-07-07 14:46] #293 closed

[2015-07-08 04:58] foodaka opened #295 "Multiple Products with Slate"
Hello, we want to use slate but we need to use it for multiple products. Can it have a different entry point such as http://localhost:4567/product1 and http://localhost:4567/product2 ? Thanks in advanced

[2015-07-08 15:58] lord commented on #295
Yup! Just copy `source/index.md` into two files: `source/product1/index.md` and `source/product2/index.md`, and it should work.

[2015-07-08 15:58] #295 closed

[2015-07-10 10:10] gianebao opened #297 "Getting error in CentOS when building middleman"
I did the same set of instructions from the readme in CentOS and I got this error while when i was using it in my OsX machine, it was working fine.

[code]

[2015-07-12 13:31] jamesmorton commented on #279
+1

[2015-07-13 05:06] lord commented on #297
Hi @gianebao, thanks for reporting! I've been pretty busy these past couple of days, but I should have some time to get to checking this out soon. In the mean time, if you have any developments, please do let us know!

[2015-07-13 05:16] dmyers commented on #279
Yeah this would be an awesome addition. I've been playing with Swagger a lot of the past few months and worked on a [different UI for it](https://github.com/jensoleg/swagger-ui), but I think server side rendered (Slate) would be really ideal as the JavaScript DOM rendering can be really slow once your API docs scale.

[2015-07-13 07:01] gianebao commented on #297
I do have progress :). I got it up and running now in AWS S3. After searching the net, I found out that  the new version of `multi_json` gem was causing the issue. I've added the required gems and the version. Also, I think it's better to gitignore the .lock file so its easier to generate the gems.

[2015-07-13 08:15] mpetyx commented on #279
+1

[2015-07-14 14:43] andronat commented on #279
+1

[2015-07-15 08:52] gianebao commented on #297
I have issued a new one :)

[2015-07-16 17:11] sman591 commented on #152
Had the same need, and this ended up solving it. Maybe a custom markdown macro could create something more formal than just a <div>?

[2015-07-16 18:24] lord commented on #152
If your code corresponds to sections created by `h3` and `h4` headers instead of `h2`, IIRC another option is to set `clear: both` on `h3` tags in the content area.

[2015-07-16 18:38] sman591 commented on #152
I guess my use case here might be a bit different then- most of my code corresponds to the heading tags, which works perfectly. However, I have a section in my docs where code corresponds to paragraphs instead of headings. Unless there's something to `clear: both` in between each block, the paragraphs and code blocks don't line up correctly.

Example:
<pre lang="markdown"><code>```
Code here....
[

[2015-07-16 22:02] lord commented on #152
Hmm, I have some ideas now that I'll think about for the next version of Slate. Thanks for the feedback!

[2015-07-19 19:38] Swader opened #304 "Non-index includes"
I have several API endpoints which have the same instructions in some areas. A change to this aspect on one endpoint is applied to all others automatically, and editing all those files manually is tedious.

Suggestion: allow including of files inside other files, too. Maybe a sub-folder under `/includes` called `/fragments` or something like that. Suggested syntax something like:

[code]

This mak

[2015-07-20 02:11] lord commented on #304
If you rename your markdown file to `index.md.erb`, you can use `<%= variableblah %>` just like in other `erb` files — you could use this to do something like

[code]

I think adding specific support for this would be something outside our scope, since adding it in with Ruby is so easy — in fact, in Slate v2, I'm removing `includes` in favor of `index.md.erb` being the default, so that people can

[2015-07-20 02:11] #304 closed

[2015-07-20 02:13] lord commented on #304
Oh, two more points! If you want more complex stuff that'd be ugly to have at the top of the page, or you want arguments or more complicated generating functions, you can add [helper functions](https://middlemanapp.com/basics/helper_methods/) in `config.rb`!

Hope all that helps, and LMK if it works for you! :smile:

[2015-07-20 15:05] Swader commented on #304
Will try, thanks.

What if I already use includes, and want those includes to include sub-includes? Do I need to rename *everything* to .erb?

[2015-07-21 15:03] lord commented on #304
If you're using `<%= %>` tags, it needs to be an `.erb` file, so if I remember correctly the sub-sub includes shouldn't have to be `.md.erb` files.

[2015-07-23 11:31] Swader commented on #304
Works like a charm, thanks. Had to rename everything to .erb, but I can now do partial includes all over the place easily.

[2015-07-23 15:07] lord commented on #304
:+1: :+1: prime!

[2015-07-23 20:02] caseysoftware commented on #279
+1

[2015-07-25 07:00] vmihailenco commented on #285
This is marked as fixed, but Gemfile still contains old version of redcarpet (https://github.com/tripit/slate/blob/master/Gemfile#L9), which still causes the segfault.

[2015-07-25 20:31] sjmueller commented on #304
Hey @lord, is there a place where we can find more information about v2?  I'm particularly curious about the goals for the next version, along with the estimated timeframe before we should start playing with it and giving feedback.

[2015-07-26 17:53] lord commented on #285
It's fixed in #292, still waiting on a merge from @tariqislam!

[2015-07-26 17:55] lord commented on #304
@sjmueller not right now — I'm just messing around and simplifying things and adding a few features. When I'm ready to get feedback, I'll post an issue in this repo! There's no timeframe: I work on this project in my spare time and it's not always clear how much of it I'll be able to devote to Slate.

[2015-07-29 08:07] foodaka opened #306 "create favicon"
How do I create a favicon using slate>?

[2015-07-29 08:16] realityking commented on #306
Just put it in the folder source and it will be copied to your server.

[2015-07-29 13:41] carn1x opened #307 "Error when accessing Docker image via HTTP"
I get the following output after a fresh start of the docker instance:

[code]

And then on the first request I see the following, to which the browser never loads or stops loading. Subsequent requests after this hang produce no further console output:

[code]

[2015-07-29 20:57] sibrus opened #308 "Code blocks look funny when printed."
I noticed that big code blocks look kind-of ugly when printing because of all the borders.

Here's an example of what I'm talking about:
![screen shot 2015-07-29 at 4 55 19 pm](https://cloud.githubusercontent.com/assets/104575/8969612/a4afab4e-3612-11e5-8424-bef7a95f0422.png)

I have a proposed fix for this that I'll send your way in about a minute.

P.S. - Thanks a lot for slate, it's really cool

[2015-07-29 21:31] lord commented on #306
:+1: yup! If you want to, you can set the favicon URL in a meta tag in `layout.erb`.

[2015-07-29 21:31] #306 closed

[2015-07-29 21:32] lord commented on #307
Will take a look at debugging, but not sure when that'll be — been pretty busy recently! Maybe the creator of our docker file, @mehulkar has some thoughts?

[2015-07-29 21:50] #308 closed

[2015-07-29 22:19] mehulkar commented on #307
woah waoh, i didn't create the Dockerfile, I just added a note to the README :smile:

I think @fermayo is the original author?

[2015-07-29 22:28] lord commented on #307
Ah, my bad, sorry!

[2015-07-30 09:20] fermayo commented on #307
I just built `master` and runs OK. What is the docker command you are running to reproduce that error?

[2015-07-30 10:34] carn1x commented on #307
**TL;DR: It's now working, details below**

Sorry I should clarify, I'm not using the original Dockerfile. Instead I'm using:

[code]

And then the run command:

[code]

This is so I don't need to build the image each time I update the doc, and also maintain my own folder structure.

This WAS working fine, but even then it was reliable. With a very basic index.md and 1-2 includes, it would fail if

[2015-07-30 22:57] geoom commented on #279
+1
it sounds very useful, I usually build many api on drf and swagger tools !

[2015-08-04 03:43] leegeng opened #312 "middleman server hangs with no error/stack trace"
https://github.com/middleman/middleman/issues/1367#issuecomment-127468682

As mentioned above issue, middleman server hangs with no error.
I tried several ways, and finally avoid from hanging by turning off minify option on config.rb

[code]

I know it is middleman's issue, but I think adding a comment on config.rb would be helpful to slate users.

[2015-08-04 05:35] lord commented on #312
:+1: good idea, thanks!

[2015-08-04 07:58] leegeng commented on #312
It's hanging again.  :(
I will share solutions after I fix this problem.

[2015-08-04 14:01] leegeng commented on #312
As I commented on middleman's issue, removing 'therubyracer' works.
I think it has multiple problems with javascript related issues.

I suggest you FAQ or Troubleshooting section on README or new wiki page.

[2015-08-05 15:20] rightfold opened #317 "Control+click doesn't open in a new tab"
On normal web pages with normal navigation, control+click normally opens the target in a new tab. In Slate it doesn't. (Incredible solution: use normal hyperlinks.)

[2015-08-05 15:27] lord commented on #317
We used `tocify` in the past which is why this is like that. In `v2` we're moving away from tocify, so I'll be sure that this works — I agree that this is annoying!

[2015-08-05 16:19] rightfold commented on #317
I love you! <3

[2015-08-06 23:13] adamaltman commented on #279
+1

[2015-08-07 02:26] lgmxiii opened #321 "Block quotes read as code blocks"
I have a couple of block quotes in the form of

They should be part of the middle column (main text flow). However, the result is that they are presented in the right column as code blocks.

[2015-08-07 16:37] lord commented on #321
Hello! This is an intended feature — it's how you specify non-code blocks that appear in the right hand side of the page. If you want a block styled in the middle column like a block quote, I'd recommend applying a custom class to a `<p>` tag.

[2015-08-07 16:37] #321 closed

[2015-08-08 12:29] leorush commented on #150
Hi! There is lunr.js localisation for different languages, here on gihub - https://github.com/MihaiValentin/lunr-languages
I hope you will add this to slate )

[2015-08-10 13:44] yaniv691 opened #325 "Layout is broken: side panel code becomes part of heading"
Hi,

I've been using your great framework for creating the API doc, but I'm having trouble with the layout.
This Markdown:
<pre lang="plaintext"><code>
## Get List of Communities

[code]

[code]

Returns a list of communities.

### HTTP Request

`GET https://cloud.ravellosystems.com/api/v1/communities`

### Query Parameters

No parameters required.

### Response

Response Status Code | Description

[2015-08-10 15:23] leorush commented on #325
![image](https://cloud.githubusercontent.com/assets/8407799/9175138/a1fa7b26-3f8c-11e5-856d-163a3cfbcd2f.png)
Tried your markdown, rendered correctly.

[2015-08-10 15:50] lord commented on #325
@yaniv691 are you on windows? A lot of windows users have reported problems similar to that — it's due to bugs in our markdown library, RedCarpet, which is why we don't support windows officially.

[2015-08-11 22:30] JacobCZ opened #326 "Not working with some Unicode charactes"
Hello, I wanted to use slate to create a documentation in Czech language, but for some reason it is not working with some czech characters, such as `ž, ě, š` etc. This is what the top of the error looks like (what part of the error do you need to see?)

`ArgumentError at /`
`invalid byte sequence in UTF-8`
`Ruby c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/middleman-autoprefixer-2.4.4/lib/middleman-auto

[2015-08-12 01:26] olivierodo commented on #307
Hello  carn1x ,
i have the same issue, after running the container i load the page one time and the second time i have a timeout.
Did you figure out what's wrong ?

[2015-08-12 06:22] carn1x commented on #307
@olivierodo Sorry, I'm no closer to understanding the problem or solution.

If you run the docker container with `-it` instead of `-d`:

[code]

...it will run the container and follow the command output so you can probably see in there whether an error is occurring and whether it is the same as the error message I posted above.

[2015-08-14 02:20] lgmxiii opened #328 "side code sample does not wrap in firefox"
OS: Ubuntu
Browser: FF 40

If you have a long of code in the side panel, it does not wrap like it does in Chromium.

![selection_002](https://cloud.githubusercontent.com/assets/12825002/9266015/0fe568c4-426e-11e5-9a67-2790f655a15c.png)

[2015-08-14 03:21] lord commented on #328
Thanks for the bug report! I've added it to the todo list.

[2015-08-18 23:04] lord commented on #325
(closing due to inactivity, but feel free to reply or reopen if you're still having problems!)

[2015-08-18 23:04] #325 closed

[2015-08-18 23:21] lord commented on #326
Hmm, you're using these characters in your `index.md` file, and it's not working? Can you upload a file containing the problem?

[2015-08-19 12:54] foodaka commented on #312
i still have this problem, any fixes?

[2015-08-19 15:44] JacobCZ commented on #326
![Error](http://hub.sycha.cz/error_slate.png)

I also get this warning (twice) when using the ```bundle exec middleman server``` command...
```DL is deprecated, please use Fiddle```

[2015-08-20 21:18] gabriel-laet commented on #279
+1

[2015-08-21 11:36] lord commented on #312
Did you remove Ruby Racer from gems and then bundle install? You could also try the dev branch

[2015-08-24 12:43] bogdanghervan commented on #270
I also stumbled across this issue. I think that the docs should clearly state that Markdown inside `<aside>` blocks is not parsed. There's [an example](https://github.com/tripit/slate/wiki/Markdown-Syntax#user-content-notes-and-warnings) in the docs with Markdown inside an `<aside>` element. I think that should also be corrected, to prevent people from getting the wrong idea.

[2015-08-24 14:56] lord commented on #270
fair point!

[2015-08-25 18:41] bogdanghervan commented on #312
I also have this issue. After switching to the dev branch I get this error when trying to build via `rake build` on a clean Ubuntu box:

[code]

[2015-08-25 18:50] lord commented on #312
Grumblegrumble :/ I'll look into it, thanks for the report.

[2015-08-25 18:54] bogdanghervan commented on #312
So I installed Node.js as the runtime and the error went away. I only use this machine for builds, so I don't know if Middleman server still works, but I guess this could help someone down the line.

[2015-08-25 19:09] lord commented on #312
:+1: good to know, thanks

[2015-08-28 19:17] oubiwann commented on #138
I got around this via a [deployment hack](https://github.com/lfex/lhc/blob/master/resources/make/docs.mk).

Basically, when I tag a new release, I generate the site and move it into a "master" docs directory with a dirname matching the version. The ``index.html`` file there is a metarefresh to the current docs.

You can see it in action here:
 * http://lfex.github.io/lhc/current/

(note there seem

[2015-08-28 19:40] oubiwann commented on #280
Just thought I'd pipe up with some input/another case (I may be wrong, but I believe I am experiencing this issue on my slate docs pages).

Steps to reproduce:
 * Visit http://lfex.github.io/lhc/current/
 * Click on link towards the bottom of the nav (do not click the last one, though). For instance, click "Previous Versions"
 * Observe that "Backends -> Selecting Backends" is actually highlighted

[2015-08-30 19:24] axilleas commented on #280
An addition of a footer would be nice. See how readme.io does this https://sample-threes.readme.io/

[2015-09-04 18:58] venantius commented on #312
I've encountered this problem as well. No stacktrace, middleman hangs and can't be `ctrl-c`'d; happens pretty frequently (just a basic page refresh causes it hang even when it was working before). Might be worth looking at a different server here?

[2015-09-04 19:21] lord commented on #312
Blegh, yea, it looks like a lot of people have trouble with it.

[2015-09-06 08:19] JacobCZ commented on #326
@lord Hi, any progress?

[2015-09-06 14:02] lord commented on #326
@JacobCZ any chance you could send over the `index.md` file that's having trouble? You can create a Gist.

[2015-09-06 14:08] JacobCZ commented on #326
@lord Here you go! https://gist.githubusercontent.com/JacobCZ/68233016ea1b0c1b4a83/raw/918f5d84fa3a71bf89bbe5cefc9059af00d9808b/index.md

[2015-09-06 17:11] tisba commented on #312
I'm running into the same issue. Disabling the build configuration like @leegeng suggests, seems to be the only fix for me currently.

[2015-09-07 14:46] RobertJGabriel commented on #279
+1

[2015-09-11 02:29] hut8 commented on #312
I have the same issue. Disabling the minifying stuff works for me as well.

[2015-09-18 15:06] mjpearson commented on #312
+1 sometimes runs and sometimes hangs, disabling minification worked

[2015-09-18 16:25] waygee commented on #279
+1

[2015-09-18 16:27] waygee commented on #127
+1

[2015-09-24 02:01] alanhartless opened #336 "Additional nested levels and search"
I've added one additional level as per the wiki.  But I've noticed it won't show up in the search results/TOS.  Is there a way to get the TOS to go one additional level as well?

Thanks!

[2015-09-24 19:32] larrykluger commented on #279
Anyone try https://github.com/E96/swagger2slate ?

[2015-09-25 02:15] angelxmoreno commented on #312
how do you disable the `minification` ?

[2015-09-25 12:21] leegeng commented on #312
@angelxmoreno
try this one

[code]

and remove "therubyracer" from Gemfile

[2015-09-25 15:03] rtopitt commented on #326
I also get the same error if I have any accented characters in a title text on the markdown file (in any `#` or `##` header).

[2015-09-25 21:10] GustavoRPS commented on #279
+1

[2015-09-26 17:38] lord commented on #336
I haven't done this myself, but somebody has written a [wiki article](https://github.com/tripit/slate/wiki/Deeper-Nesting) about it.

[2015-09-26 17:38] #336 closed

[2015-09-26 20:23] alanhartless commented on #336
Right. Which is what I've done as mentioned in my original post. The extra level shows in the menu but the extra levels header is not included in the search results which is what I'm asking about.

[2015-09-26 20:28] lord commented on #336
Ah, misread as TOC, sorry. Maybe modifying [this line](https://github.com/tripit/slate/blob/master/source/javascripts/app/_search.js#L20) will get you more headers in search results?

[2015-09-28 12:37] avi123nash opened #338 "Screen.css.scss not found. The server returns 404"
When i load the server and request the page at localhost, the page loads but the server throws a 404 error saying that that screen.css.scss and print.css.scss not found..

Help appreciated

[2015-09-28 12:39] avi123nash commented on #338
My apologies..The error is 500...Failed to load resource..Even though the file is present

[2015-09-28 18:30] abhayghatpande opened #340 "Render LaTeX expressions"
Hi

Is there a way to include TeX / LaTeX expressions in the markdown? It will be a huge help in our documentation.

[2015-09-28 18:50] abhayghatpande opened #341 "Code highlighting / syntax coloring for C doesn't work"
Even though C is one of the supported languages for Rouge, syntax coloring doesn't seem to work.

[2015-09-28 19:12] lord commented on #340
Seems like somebody has done this before with MathJax?

https://github.com/tripit/slate/issues/269

[2015-09-28 19:12] lord commented on #341
Can you provide an example file that doesn't work? Thanks!

[2015-09-28 19:37] abhayghatpande commented on #341
In the language_tab, I have only `- C` and used in the index.md

[code]

The code does get displayed on the right side tab, but there is no syntax highlighting.

[2015-09-28 19:38] abhayghatpande commented on #340
Thanks for that info!

[2015-09-28 20:48] lord commented on #340
Yup! Closing, but feel free to keep replying if that other issue is insufficient.

[2015-09-28 20:48] #340 closed

[2015-09-28 20:48] lord commented on #338
Is there an error message in the middleman console?

[2015-09-28 20:53] lord commented on #341
Could you please provide a complete example file with errors? You can upload via https://gist.github.com/.

[2015-09-28 21:33] abhayghatpande commented on #341
Yes, sure. There are no errors, it's just that the code is not coloured.
<img width="1548" alt="screen shot 2015-09-28 at 17 30 04" src="https://cloud.githubusercontent.com/assets/3515670/10149332/f80bddde-6606-11e5-8ea8-cf64837e8004.png">
the gist is giving me some problems. uploading soon.

[2015-09-28 21:43] abhayghatpande commented on #341
https://gist.githubusercontent.com/abhayghatpande/099fbc875da7688bb474/raw/6237accedae46de909681a7caa0e093610c2eb7c/index.md

[2015-09-29 00:40] abhayghatpande commented on #341
Can you believe it, when I used a small `c` instead of `C`, it works!
<pre><code>```c</code></pre> and not <pre><code>```C</code></pre>

[2015-09-29 04:05] lord commented on #341
:+1: yup! That'd do it. You can [rename the display names](https://github.com/tripit/slate/wiki/Customizing-the-Language-Tabs#language-tab-display-names) of the tabs if you'd like it to appear capitalized.

[2015-09-29 04:05] #341 closed

[2015-09-29 05:19] avi123nash commented on #338
Its solved....installed node gem for ruby..Thanks for assisting..And yes answer to your question the middleman was working fine yesterday but i was getting the Exec js error...so for that i installed node gem...Thanks...:D

[2015-09-29 05:21] avi123nash commented on #338
I'll report again if i find some other issues....

[2015-09-29 12:48] avi123nash commented on #338
I have another Question
I was trying to make a list where the subcategory should be displayed inside the main category after expanding in the side bar....But it does not go beyond the third level meaning when i used '#' the content becomes the title....'##' becomes the subcategory of the title but nothing beyond this....can you help me out???

[2015-09-29 13:36] lord commented on #338
Does this solve your problem? https://github.com/tripit/slate/wiki/Deeper-Nesting

[2015-09-29 13:36] #338 closed

[2015-09-30 05:01] avi123nash commented on #338
Yes it helped...Thanks a ton......:D

[2015-09-30 09:01] flipace opened #343 "jsx / ES2015 syntax highlighting"
Is there a way to add support for jsx or/and ES2015 syntax highlighting?

[2015-09-30 15:15] realityking commented on #343
Slate uses [rouge](https://github.com/jneen/rouge) for syntax highlighting. This would have to added over there.

[2015-09-30 19:38] lord commented on #343
Yup! :+1: You'd need it to be added there.

[2015-09-30 19:38] #343 closed

[2015-09-30 19:58] lord commented on #338
Cool! Glad I could help.

[2015-09-30 20:43] dblessing opened #345 "Ability to have nested file structure"
We need the ability to retain our repository's nested markdown file structure. Users may either read documentation in our repository or on the doc site. Links and images will not work properly in this case with slate at the moment. Even if I am able to get slate to automatically render nested markdown files the links are still not going to work.

Do you have any tips/suggestions for this problem o

[2015-09-30 21:51] lord commented on #345
Not quite sure what you mean — what is a nested markdown file?

[2015-10-01 17:42] mjperrone opened #346 "Wiki Markdown Syntax Not Helpful"
https://github.com/tripit/slate/wiki/Markdown-Syntax
Possibly vandalized? Anyways, there doesn't seem to be a clear description of how things show up in the center vs the right, how the markdown syntax maps to special slate formatting, etc...

[2015-10-03 19:27] lord commented on #346
Yup, vandalism, thanks for the tip! I've hopefully fixed it and banned the spammers — if you or anybody else spots any vandalism, feel free to let me know at <hello@lord.io>

[2015-10-03 19:27] #346 closed

[2015-10-05 15:10] dblessing commented on #345
Hi @lord Instead of having everything compiled into a single documentation page can Slate be altered to support multiple pages? s

[2015-10-05 17:56] lord commented on #345
You can currently have multiple pages if you create multiple `.md` files, but there's no way to link between them in the nav sidebar, which is why I was curious what you mean by "nested".

[2015-10-06 07:51] rixx commented on #138
+1 very interested; both API versioning and multiple languages would be very nice (and good practice for documentation).

[2015-10-06 09:26] robert-weissgraeber commented on #279
+1

[2015-10-06 14:58] marcguyer opened #348 "Contributing Guidelines"
I have basic support for vagrant ready for contribution but before I submit a pull request, I have a question. Your [guidelines for contributing](https://github.com/tripit/slate/blob/master/CONTRIBUTING.md) require using the `dev` branch. That branch it quite a bit behind master currently. Ok if I merge master into dev for the pull request?

[2015-10-06 17:21] lord commented on #348
Just did the merge! Looks better now?

Also Vagrant support = :tada:

[2015-10-06 20:51] marcguyer commented on #348
Yup. Just sent the PR #350

[2015-10-09 13:47] #348 closed

[2015-10-09 20:59] rwdaigle opened #351 "XML/JSON response documentation"
Hi, I probably have more of a question than issue, but here it goes:

My API has two response formats, XML and JSON. I'd like to have the code column of my API docs show the curl commands required for each format (which do differ since one has an XML request body and one has a JSON request body) along with the response.

So the JSON column would look like this:

![](https://photos-3.dropbox.com/t/

[2015-10-09 21:59] pnerger commented on #351
Not sure that I understand the question fully, but from what I think that you are saying, I would implement it as follows:

First, in the language_tabs directive I would put in "- json: JSON" and "- xml: XML" as you have done.  This will  give you the language highlighting for JSON and XML which is what you want.

When you author the document, I would then tag the sample code in three different la

[2015-10-11 00:14] rwdaigle commented on #351
Thanks @pnerger, but that doesn't quite get me what I'm hoping for. That assumes the same shell section will accompany both the json and xml when what I want is for one shell section for json and a different shell section for xml (if you'll notice the curl command varies depending on which format is requested).

What's the closest I can come to something like this?

[2015-10-11 09:50] yaniv691 commented on #279
+1

[2015-10-11 09:56] yaniv691 opened #352 "Shortening Long Code/JSON example + read more link"
Hi,

I have some API resources that return very long JSONs. I was wondering if there is a way to show only a few rows (e.g. 20) on the right side and then have a "See full example" link at the end which will show the full JSON when clicked, like in the demo here: http://jedfoster.com/Readmore.js/

Thanks,
Yaniv

[2015-10-11 17:05] lord commented on #351
Hi @rwdaigle! You can't do this in vanilla Slate, but you mess with [this code](https://github.com/tripit/slate/blob/master/source/javascripts/app/_lang.js#L30-L33) you should be able to customize exactly what gets highlighted and what doesn't.

[2015-10-11 17:07] lord commented on #352
That's not a built-in feature, but you can easily add readmore.js yourself by editing `layout.erb`!

[2015-10-11 17:07] #352 closed

[2015-10-12 00:35] Toddhunter opened #355 "Save as PDF"
Hey, question with Slate.

As soon as you create nice update-able web documentation, somebody is going to want to save it as a static PDF document. Is there a built in way to do make this available via slate or a suitable solution that other people have used?

Thanks.

[2015-10-12 01:22] lord commented on #355
We have print-specific stylesheets! :smile: You should just be able to print the page and then save as a PDF.

[2015-10-12 01:22] #355 closed

[2015-10-12 01:24] Toddhunter commented on #355
Can you recommend a way to streamline this across browsers? For example the user clicks a link and the browser pops up the "saves as" dialog (Rather than going print > pdf > save).

[2015-10-12 01:25] lord commented on #355
I don't really know anything off the top of my head, sorry! If other people have done this before, maybe they'll have suggestions.

[2015-10-12 14:48] rwdaigle commented on #351
Thanks, @lord, but it looks like adjusting that highlighting code would hide/show both `shell` blocks. I'm not sure how to only hide one of the shell blocks? Apologies if I'm being dense.

[2015-10-12 21:29] pnerger commented on #351
I would put the base curl command in the "shell" fence and the command modifiers in the "json" and "xml" areas along with the "json" and "xml" respectively.

I think that would get you pretty close.

[2015-10-12 21:37] rwdaigle commented on #351
Thanks @pnerger. However, even the URL differs for XML vs. JSON so the base curl command can't be shared. And pretty close == a bunch of red invalid syntax highlighting in the case of JSON so that's a no go.

Looks like there's not a great way to do this - thanks for your pointers, though!

[2015-10-12 21:37] #351 closed

[2015-10-13 13:50] Troctor opened #356 "Does slate support .htaaccess access restrictions?"

[2015-10-13 17:33] lord commented on #356
Not sure what this means?

[2015-10-13 23:16] hoffin commented on #279
+1

[2015-10-14 17:59] vagnerfiuza commented on #326
Does anyone have any tips on how I can solve this problem?

[2015-10-15 05:31] JacobCZ commented on #326
I agree, could we finally do something about this?

On Wed, 14 Oct 2015 19:59 Vagner Fiuza <notifications@github.com> wrote:

[2015-10-15 13:15] buremba commented on #127
+1

[2015-10-15 18:42] s1ddok opened #359 "Custom HTML based on active tab instead of code"
I'm using slate for creating a math documentation site. I want to create the following tab on the right :
"Example 1", "Example 2", ... "Example N" (I dont know yet how many will I add for each paragraph), "Test 1", ... "Test N", "Calculator". Of course, N is beetween 2-4. Well, as I'm not using code I'm looking for ways to put custom HTMLs for each theme based on what tab is now active. How can I

[2015-10-16 08:30] s1ddok opened #360 "MathJax and kramdown breaks the whole code layout"
After doing this tiny changes:
https://github.com/s1ddok/slate/commit/e800076ade0396a6acab9b4b1834b2fac8727927

(Please don't look on index.md changed, problem appears even with stock file) The whole site looks like this:
[![https://gyazo.com/d66386c96e94cdafe32747ccf5f0ebcf](https://i.gyazo.com/d66386c96e94cdafe32747ccf5f0ebcf.png)](https://gyazo.com/d66386c96e94cdafe32747ccf5f0ebcf)

[2015-10-20 11:57] ksol commented on #326
I worked around it by replacing `redcarpet` with kramdown, in both gemfile and config.rb. Since then, it works.

[2015-10-20 16:04] zbrad commented on #277
yikes, I just hit this one too, and thought I was going nuts.   Workaround seems to be to put a "dead header" entry, but it just looks SO UGLY!

[2015-10-20 20:03] hanieh-bastani-nymi opened #361 "Remove side code panel"
Is there a way to remove the right most column, expand the center column, and include all code inline in the center column?

Thank you!

[2015-10-20 21:09] hanieh-bastani-nymi commented on #361
Similar to this http://docs.supportkit.io/ios/

[2015-10-21 19:16] pnerger commented on #361
The fork at https://github.com/pnerger/dpSlate has the code that does this using a YAML directive at the top of the markdown.

[2015-10-21 20:15] rexposadas opened #362 "What is the recommended way to aggregate documentation?"
I'm using slate to document multiple micro-services whose code resides in different Github repositories.  I would like to keep documentation for each service in it's own repository in order to keep the documentation and the code synched.   What is the recommended way of aggregating documentation from each code repository into one slate repo?

I can obviously create a Makefile which does this, but

[2015-10-21 20:55] lord commented on #361
Yea, I don't think we have anything built-in that does this, but you can definitely hack Slate so that it works that way! NASA's Slate documentation does this too, I think.

[2015-10-21 20:55] #361 closed

[2015-10-21 21:02] lord commented on #362
There's no official way to do this, but maybe you could have every other repo be a subrepo of your documentation repository, and then write a [custom helper method](https://middlemanapp.com/basics/helper_methods/#custom-defined-helpers) that reaches in and pulls out the docs?

[2015-10-21 21:02] #362 closed

[2015-10-23 01:53] hmchen opened #366 "Slate theme similar to SupportKit"
What settings do i need to tweak to get the same theme as SupportKit?

I want a TOC on the left-hand side to always show. A content view with the code snippets inline. I don't want a separate column for code snippets.

Thank you.

http://docs.supportkit.io/ios/#welcome

[2015-10-23 15:17] pnerger commented on #366
I've forked Slate at /pnerger/dpSlate with a lot of modifications.  Some of these changes include a directive that will always show the ToC fully expanded and the ability to turn off the code panel to get a 2 column format with code inline.  The ToC requires a change to the Javascript that controls the ToC plus a change to the CSS.  The inline code requires numerous changes to the CSS.

Paul

[2015-10-23 15:44] lord commented on #366
:+1:

[2015-10-23 15:44] #366 closed

[2015-10-24 19:03] JamieCressey commented on #279
+1

[2015-10-26 11:27] nandekonst opened #367 ""bundle exec middleman server" is not working"
I am getting the following error when I'm trying to execute the middleman server. What am I doing wrong?

C:/Ruby22-x64/lib/ruby/2.2.0/uri/rfc3986_parser.rb:20:in `split': URI must be ascii only "http://LS-Mil\xE1n:4567/" (URI::InvalidURIError)
        from C:/Ruby22-x64/lib/ruby/2.2.0/uri/rfc3986_parser.rb:72:in `parse'
        from C:/Ruby22-x64/lib/ruby/2.2.0/uri/common.rb:226:in `parse'

[2015-10-26 15:50] #367 closed

[2015-10-26 22:59] lord commented on #367
Since you closed, assuming you managed to fix the error?

[2015-10-28 23:32] pwellner commented on #279
+1

[2015-11-02 21:21] maxengel opened #368 "$(pwd) fails in Docker build with space in directory"
If any directory in the path has a space in the name, the second step of building with Docker fails.

[2015-11-02 21:22] maxengel opened #369 "Sprockets can't use a directory with a parentheses"
When trying to start Middleman locally, it fails if the cloned source directory has a parentheses in its name, due to the sprockets gem.

[2015-11-04 21:20] BernhardBezdek commented on #356
You mean .htpasswd and e.g. AuthBasic?
If so it is possible. Realized it using a Webserver which has AuthBasic enabled and forwards the request to slate.

[2015-11-04 21:51] lord commented on #356
:+1: closing due to inactivity, thanks for the response @BernhardBezdek!

[2015-11-04 21:51] #356 closed

[2015-11-04 22:35] lord commented on #368
thanks for the report!

[2015-11-04 22:35] lord commented on #369
Is this a problem with middleman, or a problem with Slate?

[2015-11-08 23:03] isabellaorgan opened #374 "Rake Build fail"
I've been using Slate for just the past couple of days now. This morning I successfully deployed to gh-pages, and ran rake publish for updates several times after that with no problem.
Then I started getting the following when I tried to rake publish:
[code]
Nothing really changed between the last successful build and the first instance of this, and only a couple of minutes had passed.
Using OSX.

[2015-11-09 06:48] marvindanig opened #375 "bundle exec middleman server throws following error with ruby ruby 2.2.2p95, bundler version 1.10.6"
I get the following error on my console when $ bundle exec middleman server.

Pressing `CTRL + C` doesn't exit the process and then I have to `CTRL + Z` and then grep kill the spawned middleman process on my computer. Has this been reported?

[code]

[2015-11-10 06:13] bsdo64 opened #377 "libv8 error is generated in OSX"
In OSX, El Capitan 10.11.1

````gem install bundler````, and just ````bundle install````
but below error is generated

I try to install manually ````sudo gem install libv8 -v '3.16.14.7'```` but this also throw same error.
How can I install slate??

[code]

[2015-11-10 07:12] bsdo64 commented on #377
I installed with  ````bundle update```` and it works!

[2015-11-10 07:12] #377 closed

[2015-11-12 01:34] ARolek opened #379 "Any docs on deploying slate when using the docker container?"
The Docker container is great for getting setup quickly, but there appears to be dependencies on rake to publish and there is not a command to do this with the Docker container. I also tried shelling into the running Docker container to then run rake but the github creds need to be setup, so this wont be fun to reproduce every time I want to push.

Are there instructions on deployment to gh-pages

[2015-11-12 03:20] JonnyBGod commented on #279
+1

[2015-11-12 16:55] wpolicarpo commented on #326
Maybe it's related to https://github.com/vmg/redcarpet/issues/527.

PS.: I can't reproduce this on Linux, only on OS X.

[2015-11-13 02:53] ARolek commented on #379
I spent some time playing around with ways to do this, and I think this is the best strategy:

Use the docker container to run `rake build`
[code]

Then use git subtrees to push the `build` directory to the `gh-pages` branch:
[code]

These commands can easily be put into a `deploy.sh` script so it's a single command.

[2015-11-14 00:02] lord commented on #377
:+1: cool, glad the problem is fixed!

[2015-11-14 00:08] lord commented on #379
:+1: good call, this should be a feature, thanks

[2015-11-14 00:09] lord commented on #375
Haven't seen it, but marked as a bug, and I'll take a look some time when I have some free time.

[2015-11-14 00:12] lord commented on #374
Weird. You can build the clean Slate repository, though? May be a bug in Middleman. I'd be curious to see the files you're building with, too, to see if the problem is reproducible.

[2015-11-14 21:50] ARolek commented on #379
The other details I noticed while using this strategy:

1.  the `build/` directory will need to removed from the .gitignore
2. a `git commit` will need to be issued prior to pushing the subtree.

It's up to you how to best integrate this flow. Happy to bounce around ideas with you.

I really appreciate the effort on making this great documentation tool. It's very impressive. Great work.

[2015-11-16 16:47] creack opened #383 "coinbase example"
Hello,

I didn't find anywhere how did Coinbase manage to have sections on the sidebar with 3 level depth instead of 2.

How could I reproduce something similar? Or where could I find the relevant docs?

Regards,

[2015-11-17 14:03] creack commented on #383
Perfect, thanks

[2015-11-17 14:08] creack opened #386 "Extending the code pane to h4"
Hello,

I didn't find how to specify what headings should be used for the code pane grouping. I'd like to have the same behavior on H4 that I have on H3:

Heading on the left, some text, examples on the right, and after the examples, the next heading.

It currently works fine with h1,h2,h3 but not with h4.

Where could I find more info about this?

[2015-11-17 14:39] creack commented on #386
Found it!

in the `h4, h5, h6 {` block in stylesheets/screen.css.scss, I added `clear: both;`.

[2015-11-17 14:39] #386 closed

[2015-11-17 21:18] lord commented on #386
:+1:

[2015-11-17 21:18] lord commented on #383
Cool, no problem!

[2015-11-19 00:09] kubino commented on #345
Maybe he didn't know 'includes:' directive. I did came he because of the 'nested' keyword :)  I would like to have structured(nested) format, as I find it more maintainable and also gives me better visual experience when adding/changing methods (think about lot of json examples) .

I am thinking about structure like this:

index.md
includes:
 -foo

and then in the in the includes file structure li

[2015-11-21 11:45] zeman commented on #127
+1 this would be awesome.

[2015-11-21 19:24] lord commented on #345
Ah, like nested `includes` inside another `include`. You should be able to manually include things with middleman's [partial syntax](https://middlemanapp.com/basics/partials/), which is how includes work under-the-hood.

[2015-11-23 22:30] yesnault commented on #279
+1

[2015-11-26 10:58] ecaron commented on #209
As of 2015-11-26, here's the code we're using to track page loads & nav link interactions:
[code]

[2015-11-26 16:36] JosephEarl commented on #279
+1

[2015-11-26 23:44] jochan commented on #375
I'm encountering the same issue as well with ruby 2.2.2p95

[2015-11-29 13:58] clemensg commented on #326
Hi, this should be fixed by https://github.com/vmg/redcarpet/pull/528, please report back if this fixes the problem for you, @JacobCZ, @rtopitt and @vagnerfiuza.
Thanks!

[2015-11-30 13:37] wpolicarpo commented on #326
@clemensg I've tested here pointing `redcarpet` to `master`. Everything's ok.

[2015-11-30 16:23] lord commented on #209
@ecaron ^ ooh, this is quite clever, thanks.

[2015-11-30 16:34] lord commented on #326
Sweet, thanks so much for fixing @clemensg! I'll keep this open until `redcarpet` cuts a new release.

[2015-12-01 11:51] juri commented on #279
+1

[2015-12-01 22:20] yonaskolb commented on #279
+1

[2015-12-03 09:33] tubia opened #393 "Add titles in the code section"
Hi,
is there a way already included to add titles/headers to the right section, the one reserved for code examples?

Thank you

[2015-12-03 16:15] lord commented on #393
Does

work?

[2015-12-04 12:21] s1ddok opened #394 "What exactly makes content in right column shift one in the left"
I faced the really weird problem and completely stuck with finding a solution.

What I need to know is what css (or maybe something else?) commands make content in the middle column shift to the end of content in the right one. Sometimes it is really handy, because code in the right column maybe longer than explanation so we need to shift content in the middle column.
But sometimes we don't need i

[2015-12-04 12:36] s1ddok commented on #394
I've also find a hot-fix: wrap all such math in <p> block, but can you tell me what causes this?

[2015-12-05 04:51] edunnbdc opened #395 "Slate hangs once I change index.md or refresh browser"
Hi,
I like Slate a lot.  However, when I change the file, it hangs my local instance localhost:4567
I can get it running usually by kill the middleman server process in Mac terminal. I think re-install and then re-run bundle exec middleman server. Then, I can re-load the page.  So, it's not a very efficient process although everything else is really easy.  Any suggestions?

I have an almost brand

[2015-12-07 08:19] rberger commented on #279
+1

[2015-12-07 11:38] nandekonst commented on #367
Yes, there was a non-ascii character in the path, which caused the problem. ;-)

[2015-12-07 17:28] lord commented on #367
:+1: cool, glad to hear it's solved!

[2015-12-08 00:08] lord commented on #395
Hmm, does it also happen if you create a fresh middleman project with `middleman create` and then edit things?

[2015-12-08 00:10] lord commented on #394
Slate doesn't know the mathjax element, so it doesn't know to put it in the left column. If you add a selector for mathjax to [this selector](https://github.com/tripit/slate/blob/master/source/stylesheets/screen.css.scss#L338) it will probably fix the problem.

[2015-12-08 00:10] #394 closed

[2015-12-08 00:11] edunnbdc commented on #395
Fixed it by commenting out Gemfile in my slate directory
I see other mentions when searching google about how this fixed multi-thread issues.  Works like a charm locally.

# gem 'therubyracer', '~> 0.12.1', platforms: :ruby

[2015-12-08 00:13] lord commented on #395
:+1: cool! Glad you managed to figure it out.

[2015-12-08 00:13] #395 closed

[2015-12-10 00:47] boobooninja opened #400 "No Style, Am I doing it wrong?"
I forked the repo, bundle installed, ran middleman server, etc.

I can view it in the browser locally but it doesn't look at all like what is shown in the pictures. :)

Am I missing something? It's as if the css and javascript are not working.
Did I miss a step?
Should I be on a different branch?

Thanks.

[2015-12-10 00:57] boobooninja commented on #400
So I found the Rake task and ran that to "build".
I can load the static file in the browser and I get a nice view. :)

As a side note, middleman seems to hang quite often and not shut down properly.

I was under the impression I could use middleman to serve the app and assets while I develop?

[2015-12-10 10:35] TROODON commented on #279
+1

[2015-12-11 16:54] lord commented on #400
Hmm, yup, you should be able to use it for that. I'd make sure your middleman is up to date. Some people also report that removing the ruby racer as a dependency can help some times.

Glad you managed to figure out the styles!

[2015-12-11 16:54] #400 closed

[2015-12-11 20:07] s1ddok opened #402 "Toc bug"
My site going crazy with tocs for no reason.

Here is what it looks like:

![example_bug]
(https://i.gyazo.com/c0c9c4cc4c726afda67471d526b7d0c4.png)

All headers point to the first when I click on them, what might cause it?

It seems like all tocs point to the first one!
Also, when I click on toc, it selects only it, but sends to me the first one!

You can find demo here: https://github.com/s1ddok

[2015-12-11 22:12] s1ddok commented on #402
I found out this commit caused this:
https://github.com/s1ddok/slate/commit/61581f2a49db187c994156f0b906767afdf5dd50

But I can't figure out what exactly affects the slate in that way

[2015-12-11 22:48] lord commented on #402
Hmm, maybe it's the unicode characters? Does #326 help?

[2015-12-11 22:50] s1ddok commented on #402
Seems like the solution there is to use kramdown, but I already use it!

Well, I've attached the link to commit, which caused this, if i download the repository in the state of previous commit, everything works just fine! I don't know what to do

[2015-12-11 22:55] s1ddok commented on #402
Actually it seems like after it sets `section-3` id every further ids are just `section`, that is why everything is pointing to the first header. Why could section enumerating broke?

[2015-12-11 23:13] s1ddok commented on #402
Actually it seems like after it sets section-3 id every further ids are just section, that is why everything is pointing to the first header. Why could section enumerating broke?

I wonder if it can be caused by me running bundle update?

[2015-12-11 23:33] lord commented on #402
Yea, if it's not the unicode, I can only imagine that updating broke it. Does rolling back just the gems fix the problem?

[2015-12-11 23:37] s1ddok commented on #402
Well, no, after experementing for a while I think it is the unicode problem. Is it possible to fix it with kramdown?

[2015-12-11 23:49] s1ddok commented on #402
OK, I've found a solution!

After adding this to every `.md` file:
{::options transliterated_header_ids="true"/}
Everything seems just fine. But that doesn't seem to be a beautiful solution, is it possible to set kramdown settings in `config.rb`?

[2015-12-12 00:06] lord commented on #402
I think so! Does this help? https://middlemanapp.com/basics/template_engine_options/

[2015-12-12 00:13] s1ddok commented on #402
`set :markdown, :transliterated_header_ids => true, :hard_wrap => true`

do the trick, issue can be closed. thanks for help!

[2015-12-12 00:23] lord commented on #402
Yup! Glad you fixed your problem.

[2015-12-12 00:23] #402 closed

[2015-12-14 13:05] Ansif opened #405 "Do this documentation framework have HTML version?"
Hi,

Great documentation API. Do this framework comes with HTML or any front end language files?

So, i can give offline documentation to my clients, they'll able to view in their browsers.

[2015-12-14 19:10] lord commented on #405
I mean, yea, that's what Slate does. If you run `middleman build`, it'll output the files to the `build/` directory.

[2015-12-14 19:10] #405 closed

[2015-12-14 20:52] johnpc opened #406 "Cannot put preformatted text in main body"
So one of the great things about slate is how it breaks up the human descriptions in the main panel and the code snippets to the right. However, in some cases, I WANT to drop a code block inline with my text.

Could we add documentation on how to achieve this?

[2015-12-14 21:09] lord commented on #406
Hi @johnpc! I think some other issues have already touched on this issue, and you're welcome to add to the wiki, but this isn't something we officially support — it requires extra styling and code, and is outside the scope of common uses of Slate.

[2015-12-14 21:09] #406 closed

[2015-12-17 03:34] doublerr commented on #379
So the flow I used was based on @ARolek but slightly different.

1. I committed the items in the `source/` directory in the primary directory of my repo.
2. This includes a `build/` directory with a `.keep` file.
3. Commit the above and add `build/` back to `.gitignore`

Next I build a small script that runs:

[code]

Kind of a strange workflow and needs to be cleaned up but it lets me keep just t

[2015-12-19 15:02] buremba commented on #279
I'm working on a library that reads Swagger specification, generates the documentation and example code section using swagger-codegen.

Currently, swagger-codegen library doesn't provide a way to generate code for example usages of generated client libraries so swagger-slate generates code for client libraries generated by swagger-codegen using its internal template engine and language bindings.

[2015-12-23 10:04] codescrapper opened #412 "bundle Install error"
This is the error I am getting on running bundle install. I am using OSX.

Installing libv8 3.16.14.7 with native extensions

Gem::Installer::ExtensionBuildError: ERROR: Failed to build gem native extension.

    /System/Library/Frameworks/Ruby.framework/Versions/2.0/usr/bin/ruby extconf.rb
creating Makefile
Compiling v8 for x64
Using python 2.7.10
Using compiler: /usr/bin/c++ (clang version 7.0.2

[2015-12-23 11:56] koskimas opened #414 "Problem with unique ids"
First of all thank you for this excellent project! It was suuuper easy to build beautiful and useful API docs for my project.

I noticed that slate makes equal header ids unique, but it doesn't work in all cases. For example this works:

[code]

Both foos get an unique id and I can link to them using `#foo-<something>`. However, this doesn't work:

[code]

Both of these get the same id `foo`.

[2015-12-23 12:20] koskimas commented on #414
Actually I just noticed that I links to generated ids like ```[foo](#foo-18)``` don't work. The actual `id` of the header is still non-unique. There is some `<div data-unique="foo-18">` that is somehow used by the TOC?

[2015-12-24 00:19] abhayghatpande opened #415 "Inline linking to markdown files not supported?"
Our documentation is getting quite complex and to make it more manageable, we were hoping to create inline links to other markdown files, like this:

[code]

I put the md files under `includes/` as `includes/_debug.md`, but those links are not compiled into html for publishing.

Is something like this possible? Or do I have to reorganize everything to ensure that includes are only at the top level

[2015-12-26 01:00] lord commented on #415
I think so! If you copy `source/index.md` to a new file `source/debug.md`, you should be able to link to it with `[debug link](debug.html)`. Or if you're trying to link to an internal section of `index.md`, you can refer to the `# Debug` header with `[debug link](#debug)` I believe. Let me know if this works for you!

[2015-12-26 01:00] #415 closed

[2015-12-26 01:03] lord commented on #414
Hey, thanks for reporting! I think header id generation happens in [redcarpet](https://github.com/vmg/redcarpet), and IIRC they're aware of the problem. For now, if you want to manually fix it, you can always manually create a header: `<h2 id="dollar-foo">$Foo</h2>`.

[2015-12-26 01:03] #414 closed

[2015-12-26 01:04] lord commented on #412
Does the `dev` branch fix it?

[2015-12-26 04:13] abhayghatpande commented on #415
I am not able to get it to work. Let me explain the situation a bit more.

I have several files under `source/includes`, say `_file_1.md`, `_file_2.md`, `_file_3.md`, ..., `_file_n.md`

In `index.md`, under the `includes` section, I include only `file_1`.

In `_file_1.md`, I need to explain several concepts which are in the files `_file_2.md`, ..., `_file_n.md`.

So I was hoping that in `_file_1.m

[2015-12-26 08:49] enwrap commented on #412
I was facing the same issue. I now tried with the dev branch. The installation goes correctly, but when you run the command 'bundle exec middleman server', the following error is thrown:

manish@manish-VirtualBox:~/slate$ bundle exec middleman server
== The Middleman is loading
/var/lib/gems/1.9.1/gems/execjs-2.5.2/lib/execjs/runtimes.rb:48:in `autodetect': Could not find a JavaScript runtime. See

[2015-12-28 15:41] delbinwen commented on #412
I have the same issue with master branch, but everything works fine with dev branch.

[2015-12-30 11:27] manojlds commented on #279
+1

[2015-12-30 11:27] codingnirvana commented on #279
+1

[2015-12-30 13:30] avinassh opened #416 "I am not able to use without version control (git)"
I want to keep the source files in already existing version control. However it always fails unless I create a git repo where I am running the `rake build`

[code]

Also, I don't want to use gh-pages. So I guess some dependency related to git and gh-pages causing this.

[2016-01-01 22:20] lord commented on #415
Yup, so Ithink if you copy `source/index.md` into `source/debug.md` and then replace the contents of `source/debug.md` with the previous contents of `source/includes/_debug.md`, you should be able to link to it from `index.md` like `[link text](/debug.html)`. Is that the kind of linking you're talking about?

[2016-01-01 22:24] lord commented on #412
Going to close this since it seems `dev` fixes it, probably a problem with our javascript engine, which we already have an issue for (#312)

[2016-01-01 22:24] #412 closed

[2016-01-01 22:30] lord commented on #416
If you just run `bundle exec middleman build` instead, it should work!

That's weird that `rake build` needs a git repo, huh. I'll look into it.

[2016-01-01 22:30] #416 closed

[2016-01-03 19:43] abhayghatpande commented on #415
Yes. Thank you. That works. It would be perfect if the `html` file would have some links in the left panel to the previous section or the rest of the documentation. It's also missing the copyright and footer content. E.g. see the screenshot.
![screenshot 2016-01-03 14 25 26](https://cloud.githubusercontent.com/assets/3515670/12080385/a22d1e2a-b226-11e5-9ad0-ec54184d56b4.png)
I guess it's just a qu

[2016-01-04 05:03] lord commented on #415
Glad it works! Yup, you could manually add a back button to the sidebar yourself by editing the layout files, but I think having wiki-like functionality it outside the scope of slate, especially since people can add it themselves if they'd like.

[2016-01-04 13:09] avinassh commented on #416
yup, `bundle exec middleman build` worked, thank you!

[2016-01-04 19:11] lord commented on #416
Glad to hear it!

[2016-01-05 10:56] avinassh commented on #416
:beers:

[2016-01-08 21:32] yaohongkok opened #421 "Cannot use a different folder name for Slate"
Hi guys,

I am brand new to Slate.

I am not sure if this is a bug. I tried to clone my forked repo to my hard drive but I try to use another folder name (i.e. 'abc-doc') instead of 'slate'. When I do that, I cannot load the page when I visit "localhost:4567".

However, immediately after I change the folder name back to 'slate', everything works. I just want to know if Slate supports using differe

[2016-01-09 05:45] lord commented on #421
...huh. This is weird. Thanks for the report.

[2016-01-09 16:22] yaohongkok commented on #421
No problem, Robert. Glad that I could help.

Cheers,
Yao

On Sat, Jan 9, 2016 at 12:46 AM, Robert Lord <notifications@github.com>
wrote:

[2016-01-11 16:36] jamesvillarrubia commented on #421
Confirmed that this is happening in my OSX environment as well.

[2016-01-14 08:20] lcpriest opened #424 "Hosting it on github.io"
It appears that if you have slate as the default page on your github.io pages, it does not work correctly.

I've had to revert `http://tradegecko.github.io` to our previous docs so as not to disturb our users.

It works fine when it is not the root path:
http://tradegecko.github.io/smaug/

Is this a known caveat for using middleman with gh-pages, that it can only be a subdirectory?

[2016-01-15 17:19] lord commented on #424
Ah, yea, the extension only publishes to the `gh-pages` branch, and don't root github pages require it to be in the `master` branch?

You could host it with a [custom domain name](https://github.com/tripit/slate/wiki/Deploying-Slate#custom-domains-with-github) instead maybe? Like docs.tradegecko.io.

[2016-01-15 17:19] lord commented on #424
Or if the problem is something else than the branch problem, let me know.

[2016-01-16 11:53] mrudult opened #427 "Show callout in only one langauge tab. Possible?"
Currently when I add a callout it shows in all language tabs. Can I somehow show it in only in a specific language-tab?

[2016-01-17 10:37] lcpriest commented on #424
No, that sounds about right.
Thank you!

[2016-01-17 10:37] #424 closed

[2016-01-18 12:27] drkmen commented on #375
the same with 2.2.2p95

[2016-01-21 07:34] lcpriest commented on #421
Short-term fix. Fork the repo as slate then manually rename, github will handle redirects for you.

[2016-01-21 07:38] lcpriest opened #429 "Does slate support sitemaps?"
We recently replaced our docs with Slate ([here](developer.tradegecko.com)), using Github pages.

But due to this, many of our old links are needing redirects, as our previous documentation was a Jekyll site on the same URL.

1) Is there a standard way to support redirects?
2) Is there a way for a sitemap to be generated based on the sidebar, allowing google to link directly to the right page posi

[2016-01-21 15:49] elgs opened #430 "Can I specify output path when I run `rake build`"
It seems by default `rake build` produces files to `build/` directory. Is it possible to let it produce output files to another directory? Thanks.

[2016-01-22 03:02] lord commented on #430
Yup! https://github.com/middleman/middleman/issues/359

[2016-01-22 03:02] #430 closed

[2016-01-22 03:06] lord commented on #429
Nice! Hope you're enjoying Slate.

Unfortunately, redirects aren't possible with a static site generator. You could set something up custom based on your server, but we're just generating static files, so we can't make redirects.

We also don't have any sort of sitemap generator. Middleman has some sort of sitemap feature (that I don't know much about), but that won't be compatible with Slate's in

[2016-01-22 03:06] #429 closed

[2016-01-22 03:08] lcpriest commented on #429
Thanks! I figured as much, thought I would ask just in case I missed something.

[2016-01-22 03:16] lord commented on #429
:+1:

[2016-01-22 06:45] elgs commented on #430
It works. Thanks.

[2016-01-24 14:39] psanders commented on #393
@lord that almost works, except that it also creates an entry in the sidenav.

[2016-01-24 15:01] psanders commented on #393
Nevermind! This do the trick.

[2016-01-24 16:37] lord commented on #393
Cool!

[2016-01-24 16:37] #393 closed

[2016-01-26 09:40] jesperborgstrup commented on #156
I'm having the same problem again (using the latest `Gemfile `and `Gemfile.lock` from `master`), just as shown in the original screenshot of this issue.
My original `Gemfile`s (https://gist.github.com/jesperborgstrup/5806156f4d97153bc794) worked fine, but I had to upgrade to get `jsondoc` language syntax highlighting.

[2016-01-26 12:18] mathroc opened #431 "better compatibility with Content Security Policy"
I'm using slate to generate documentation with Jenkins and using the HTML publisher plugin to have the documentation of each build availlable in Jenkins. Jenkins add with a very strict `Content-Security-Policy header: sandbox; default-src 'none'; img-src 'self'; style-src 'self'; font-src 'self'`.

To make slate works, I had to change it to this:

`Content-Security-Policy header: sandbox allow-scr

[2016-01-26 21:40] lord commented on #72
In `dev`, you can now put the following code in your index file to show a language specific code annotation.

[code]

[2016-01-26 21:40] #72 closed

[2016-01-26 21:42] lord commented on #66
In a similar way to the suggestion by @bootstraponline, we've ended up implementing a `lang-specific` class, which you can use like this:

[code]

To use this feature, you need to write HTML instead of markdown, but we expect that this will be a rare-enough feature that this is an okay compromise.

[2016-01-26 21:42] #66 closed

[2016-01-26 21:44] lord commented on #82
This is really cool, but I think populating from live APIs may be outside the scope of Slate, so I'm going to close this feature. That's not to say it shouldn't exist! Just that it should be implemented in a separate repository or project.

[2016-01-26 21:44] #82 closed

[2016-01-26 21:47] lord commented on #421
Hi @jamesvillarrubia @lcpriest @yaohongkok — we've done some upgrades in the `dev` branch, and renaming the folder seems to work now in that branch for me. Can you still reproduce the bug with that branch?

Thanks for reporting, and for the help!

[2016-01-26 22:05] #297 closed

[2016-01-26 22:06] lord commented on #297
(closed since no longer using multi_json so should be fixed hopefully, see #302)

[2016-01-26 22:27] yaohongkok commented on #421
No problem! I will check it out tonight.

Sincerely,
Yaohong
On Jan 26, 2016 4:48 PM, "Robert Lord" <notifications@github.com> wrote:

[2016-01-26 22:30] lord commented on #421
Sweet, thanks so much!

[2016-01-26 22:37] lord commented on #127
I think that although there is demand for this, it'd best be implemented in some sort of extension or add-on to Slate, since it'd be difficult to cover all the cases in which it'd be needed or used, and I'd rather not have Slate become bloated from too many add-on features.

[2016-01-26 22:37] #127 closed

[2016-01-27 06:21] lord commented on #427
We have this feature in `dev` (see #66) and it should shortly be in master! Let me know if that fix works for you.

[2016-01-27 06:21] #427 closed

[2016-01-27 06:24] lord commented on #284
Closing due to inactivity and because I couldn't reproduce, but feel free to reopen @Firescar96 if you're still having problems!

[2016-01-27 06:24] #284 closed

[2016-01-27 06:26] lord commented on #279
Going to close since I think that putting this functionality in another, independently-maintained repo/project (like https://github.com/E96/swagger2slate) makes more sense. If people have good solutions, would :heart: documentation in the wiki/readme!

[2016-01-27 06:26] #279 closed

[2016-01-27 06:30] #81 closed

[2016-01-27 06:32] lord commented on #374
(Closing due to inactivity, but feel free to reopen if you're still having problems!)

[2016-01-27 06:32] #374 closed

[2016-01-27 06:33] lord commented on #369
Hmm, I can't seem to reproduce the problem? Closing due to in activity, but feel free to reopen if you're still having problems!

[2016-01-27 06:33] #369 closed

[2016-01-27 06:36] lord commented on #326
Should be fixed in `dev`! Thanks all.

[2016-01-27 06:36] #326 closed

[2016-01-27 06:46] lord commented on #270
The examples are now fixed, and this functionality is now documented in the default index.md. Thanks!

[2016-01-27 06:46] #270 closed

[2016-01-27 06:47] lord commented on #359
Sorry for the slow reply. This isn't a feature of Slate, since we're for documenting APIs, not other things. However, you could certainly hack a solution together by editing the contents of `_lang.js`. Sorry I can't be more helpful!

[2016-01-27 06:47] #359 closed

[2016-01-27 06:49] lord commented on #360
Hey! Apologies for the slow reply.

We don't really support Kramdown, unfortunately. It looks like the fenced code blocks aren't being correctly parsed? Not sure if that's a feature of Kramdown that just requires a configuration in `config.rb`, or if it's not a feature at all.

[2016-01-27 06:49] #360 closed

[2016-01-27 06:53] lord commented on #328
Should be fixed in `dev`. Thanks for the report!

[2016-01-27 06:53] #328 closed

[2016-01-27 07:01] lord commented on #65
I think that this is probably best if people custom-implement their own solutions to this by editing the CSS, since it's not really the intended organization suggested by Slate, so I'm going to close.

If people are looking at this in the future, it can probably be hacked together by editing `pre` styles in `screen.css.scss`.

[2016-01-27 07:01] #65 closed

[2016-01-27 07:12] lord commented on #102
Just tried this on a *massive* page and couldn't reproduce. It's been a while since this bug has been reported, so assuming you don't have the file in question any more? @niftylettuce

Closing now, but if it's still a problem, feel free to reopen.

[2016-01-27 07:12] #102 closed

[2016-01-27 07:13] lord commented on #289
I think that for legacy reasons to be compatible with old `index.md`s, we're not going to be able to swap these unfortunately.

[2016-01-27 07:13] #289 closed

[2016-01-27 07:23] lord commented on #375
@drkmen @jochan if you switch to the `dev` branch, do you still have this problem?

[2016-01-27 07:24] lord commented on #312
@leegeng @foodaka and others, curious if you can reproduce this problem in the most recent `dev` branch. We've done some major upgrading of Middleman (to v4).

[2016-01-27 08:00] lord commented on #431
@mathroc thanks for the thoughts! Does the latest version of the `dev` branch fix it for you?

[2016-01-27 09:52] vrarora1 opened #432 "Complete theme in HTML content"
Hi @zachpanz88
Can you provide us the complete theme in HTML format? I want to use this theme in 3Scale API management portal and it does not allow any other tool to run this theme. If there's any other way through which I can use this theme on that portal, please let me know.
Thanks.

[2016-01-27 15:55] zachpanz88 commented on #432
I don't think I'm the right guy for this. Try asking someone who has worked more on this project than I have. Are you just asking for the HTML without the compilation aspect?

[2016-01-27 15:57] AlihassanProgrammer opened #433 "it simply gerenate "your code doesn't work" if an error"
overall i really like your application , what if "error most identified like " String error", syntax error

[2016-01-27 16:30] lord commented on #432
Not sure what you're looking for @vrarora1, but it doesn't seem to be an issue with Slate, so I'm closing it.

[2016-01-27 16:30] #432 closed

[2016-01-27 16:31] lord commented on #433
I'm sorry, I don't quite understand. If you open a new issue with more information about your error and what you did to get that error, I'd be glad to help.

[2016-01-27 16:31] #433 closed

[2016-01-27 16:38] lord commented on #421
@yaohongkok any update?

[2016-01-27 16:49] yaohongkok commented on #421
Oh right. Let me try it now. I forgotten about it yesterday night. Give me
a moment.

Sincerely,
Yao
On Jan 27, 2016 11:38 AM, "Robert Lord" <notifications@github.com> wrote:

[2016-01-27 16:49] lord commented on #421
No worries! Thanks!

[2016-01-27 17:57] yaohongkok commented on #421
Tested it on the dev branch. It certainly works now. ;)

Thanks Robert!

Cheers,
Yao

On Wed, Jan 27, 2016 at 11:50 AM, Robert Lord <notifications@github.com>
wrote:

[2016-01-27 19:26] lord commented on #421
Excellent! Thanks.

[2016-01-27 19:26] #421 closed

[2016-01-27 22:24] lord commented on #379
I've decided to move Docker info into [the wiki](https://github.com/tripit/slate/wiki/Docker), so feel free to add more tips there! I'm going to close this since the `dev` branch no longer has docker as a default development system.

[2016-01-27 22:24] #379 closed

[2016-01-27 22:24] lord commented on #368
Hey, thanks for reporting again! I've decided to move Docker info into [the wiki](https://github.com/tripit/slate/wiki/Docker), so feel free to add more tips there. I'm going to close this since the `dev` branch no longer has docker as a default development system.

[2016-01-27 22:24] #368 closed

[2016-01-27 22:25] lord commented on #307
This thread hasn't been updated in a while, I've decided to move Docker info into [the wiki](https://github.com/tripit/slate/wiki/Docker) and it's no longer a supported development system, so I'm going to close this thread, but feel free to post updates if you have any!

[2016-01-27 22:25] #307 closed

[2016-01-28 05:02] vrarora1 commented on #432
@zachpanz88 Yes, that's exactly what I am looking for.
@lord Hi Lord, I know its not a issue, its just our API management portal is not allowing us to compile the whole code, that's why we just wanted the HTML without compiling anything.

[2016-01-28 17:08] lord commented on #432
Ah, well you can compile it yourself on your computer and get the HTML, but it's also available on the `gh-pages` branch of the repo.

[2016-01-29 05:14] vrarora1 commented on #432
I get it now. Thanks for the help @lord

[2016-01-29 16:32] lord commented on #432
:+1:

[2016-01-30 00:16] #312 closed

[2016-01-30 00:16] #375 closed

[2016-01-30 00:16] #431 closed

[2016-01-31 09:18] jmoriau opened #437 "No more newlines ('\n') on the right"
With the latest version, all the newlines inside of ```shell``` or ```json``` are removed.

This:

[code]

Is shown like this:

[code]

![screen shot 2016-01-31 at 10 16 48 am](https://cloud.githubusercontent.com/assets/13310881/12701246/c62db0da-c803-11e5-85b0-f23a5db34fab.png)

A few days ago the newlines where preserved, is there anyway to get the old behavior back ? Maybe I was doing it wrong

[2016-01-31 18:36] lord commented on #437
Ack! Should have caught this, sorry. I'll have a fix later today.

[2016-01-31 18:44] lord commented on #437
:+1: should be fixed in `master`, LMK if you're still having any issues!

[2016-01-31 18:44] #437 closed

[2016-02-01 06:20] jmoriau commented on #437
Everything back to normal, thank you very much!

[2016-02-01 06:21] lord commented on #437
Of course!

[2016-02-01 17:32] lostage opened #438 "Add Support for Analytics"
Awesome project! It would be helpful if we could plug in Google Analytics to track which sections are getting the most hits, etc. I'm assuming it would have to send a pageview hit to Google either on each navigation click or hash change. This is also assuming that the "ga" function exists (ie: they have added the GA snippet to the layout.erb file).

[2016-02-01 20:05] lord commented on #438
Yup! We don't support Google Analytics as a feature, but you can just put any custom analytics code in `layout.erb` that you'd like. If you want to track hash changes, it doesn't look like Tocify supports callbacks on hash changes, but I'm sure you could find a place to insert code in [tocify.js](https://github.com/tripit/slate/blob/master/source/javascripts/lib/_jquery.tocify.js).

[2016-02-01 20:05] #438 closed

[2016-02-01 20:07] lord commented on #438
I haven't tested, but possibly [here](https://github.com/tripit/slate/blob/master/source/javascripts/lib/_jquery.tocify.js#L546) and [here](https://github.com/tripit/slate/blob/master/source/javascripts/lib/_jquery.tocify.js#L736)

[2016-02-02 09:26] JustinDrake opened #439 ""Try code now""
I would like to have a button with "Try code now" so that my users can test the API right from the documentation, and see the results within the documentation. Is that something easily done with Slate?

[2016-02-02 16:52] mathroc commented on #431
thx, I'm sorry I didn't get back to you. I'm having trouble upgrading. Looking at the commits, I think it should be okay. I'll confirm once everything is sorted out on my side

[2016-02-02 17:51] lord commented on #431
:+1: sweet, thanks!

[2016-02-02 18:09] lord commented on #439
Not easily done unfortunately — we don't support this feature, you could certainly add it (Slate is just an HTML, CSS, and JS template, after all), but it wouldn't be trivial.

[2016-02-02 18:09] #439 closed

[2016-02-03 07:14] ketan opened #440 "Background color for code snippet is subtly different"
See attachment — 

<img width="416" alt="screen shot 2016-02-03 at 12 33 38 pm" src="https://cloud.githubusercontent.com/assets/10598/12775238/764d3916-ca72-11e5-9479-cf974ff81873.png">

There seem to be 2 colors there subtly different, but noticeable to the naked eye.

`#292929` for `.pre`
`#272822` for `.highlight .w`

This seems to have been caused by [this change](https://github.com/tripit/sla

[2016-02-03 22:18] lord commented on #440
Ooh, great catch! Thanks for documenting a fix too, much appreciated.

[2016-02-03 22:19] #440 closed

[2016-02-03 22:19] lord commented on #440
Should be fixed now in `master` thanks for reporting!

[2016-02-04 08:59] vinothkumar-k opened #441 "PHP code not highlighted"
I am trying to add PHP code tab. here that php code was not highlighting. but java code was highliting

[2016-02-04 14:37] wodka opened #444 "NodeJS / Gulp Port"
Hi,

I just finished a kind of port to gulp (builds upon the work of https://github.com/jmanek/slate_node)

https://github.com/wodka/gulp-slate

this might help people running windows or those who do not want to install ruby.

I really like how slate looks and works!
keep up the good work :)

[2016-02-04 15:39] lord commented on #444
:+1: Cool! Worth adding to a new page in the wiki, maybe for "Slate-Related Tools", if you feel like it. Glad you like Slate!

[2016-02-04 15:39] #444 closed

[2016-02-04 15:44] lord commented on #441
Hi @vinothkumar-k, could you please post an example of the markdown you're having trouble with? You should also be sure to naming PHP like this:

[code]

Not:

[code]

[2016-02-04 15:49] wodka commented on #444
thx :) added the wiki page: https://github.com/tripit/slate/wiki/Slate-Related-Tools

[2016-02-04 15:50] lord commented on #444
Looks good!

[2016-02-04 19:38] wodka opened #445 "Translations"
Hi,

is there a way to have markdown documents in multiple languages?

index.html.md
index.de.html.md

with includes that fall back to a default?

inclues/_first.html
inclues/_first.de.html

includes/_second.html

the generated files would then look like:

/ -> /index.html
/de -> /de/index.html

[2016-02-04 21:43] lord commented on #445
You can, of course, have multiple markdown documents just like you said! However, I can't think of a way using build-in functionality to have things fall back to a default if the include for a language is missing. You may be able to use a [Middleman helper method](https://middlemanapp.com/basics/helper_methods/) to do it, but I'm not sure.

[2016-02-04 21:43] #445 closed

[2016-02-05 06:43] vinothkumar-k commented on #441
sorry
i was added "<?" this one , after that it was highlighted. .
thank u .  . .

[2016-02-05 16:23] wodka opened #448 "Some CSS improvements"
Hi,

I do not know if those are wanted (therefor the issue before any pull request)

**make the content of blockquotes full width:**
[code]
[code]

**allow the code snippets to move up a bit** - this is to have a description in the main content before the code itself. This is especially useful for mobile devices.
for this to work really well the text should be wrapped inside of one big element - n

[2016-02-06 21:02] lord commented on #441
Ah, cool!

[2016-02-06 21:02] #441 closed

[2016-02-08 12:46] fimpfimp opened #450 "language_tabs not working - part 2"
Quoting comments on a closed issue:

https://github.com/tripit/slate/issues/156#issue-54388424

.

https://github.com/tripit/slate/issues/156#issuecomment-174927118

[2016-02-11 20:12] cchacons opened #455 "Wrap source code blocks"
is there a way to automatically wrap the text in the source code section (right most section) instead of creating an horizontal scrolling?

I have the following example and it gets cut.
[code]

Thanks,
Carlos

[2016-02-15 16:38] nadavb opened #456 "This looks like a great framework, but how do I add it as a Gem to my rails project?"

[2016-02-16 05:46] PriyankaSec opened #457 "API Documentation using Slate"
Hi

I am trying to use Github for our product documentation. For that, I have DLL and XML files to generate API documentation. I was going through slate wikis to create API documentation but somehow I could not achieve the desired result.

Could you please help me with any information on this?

[2016-02-24 16:37] brandonros opened #463 "Terribly unclear how to change port"
I can't find anywhere in config.rb where to change the port. 4567 is the default. I changed it in Vagrantfile and it didn't obey it at all.

I've looked up Middleman documentation and still can't seem to find it.

It might be a drop helpful to put this key bit of information somewhere in the README

[2016-02-24 16:39] brandonros commented on #463
For those with a similar issue, add the following to `config.rb`

[code]

[2016-02-24 16:39] #463 closed

[2016-03-01 00:01] jarednova opened #466 "Slate fails when encountering underscores inside underscores"
### What I'm expecting
Given this line of markdown:
[code]
... I should see this output:
[code]

### What Happens:

As you can see, Slate attempts to prematurely close the `<em>` tag.
[code]

I've tried substituting this with `&#95;` and `&lowbar;` in the markdown but it just displays these as:

[code]

Is there any way to enclose underscores in italics?

[2016-03-01 00:26] lord commented on #466
Haven't tested, but does switching the line to

    ***DEPRECATED** 0.21.8 use `{{ function('comment_form') }}` instead*

work?

[2016-03-01 01:20] jarednova commented on #466
@lord — it was a beautiful dream, but in that case it fails to recognize `***` as = `<em><strong>`

[code]

[2016-03-01 06:28] lord commented on #466
Ah, that's too bad. Hmm. This isn't a problem we can solve, it's in [redcarpet](https://github.com/vmg/redcarpet), so I'm going to have to close it. That said, you can always insert raw HTML into your doc by just putting it in, so that's always an option if you need this functionality!

[2016-03-01 06:28] #466 closed

[2016-03-03 17:35] Francolpm opened #467 "Receiving support?"
Hi there!
This isn't a issue but I didn't know where to ask!
Are you accepting donations or supports? Because I want to give some of money to slate, but there is no donate button o something like that.
I don't trying to spam you, but I want to invite you to beerpay.io, a simple platform to monetize open source projects, like slate.
I know that the open source is free, but it's okay if someone want

[2016-03-03 20:05] lord commented on #467
Glad you're enjoying Slate and want to contribute! We don't accept donations for this project.

That said, I currently run a [freelance company](https://wheat.co) that (among other things) has created custom Slate features, and we're always open to new clients.

[2016-03-03 20:05] #467 closed

[2016-03-03 20:19] Francolpm commented on #467
Okay @lord ! Thanks for reply!

Cheers!

[2016-03-04 10:50] vinothkumar-k opened #468 "My documentation not running properly in Chrome."
I was created my docs as HTML file using the command "bundle exec middleman build --clean" . Now my issue is that the documentation was running properly in my Firefox browser.
But its not running in my Chrome browser. Even i checked another machine also.
For example :
Suppose i scroll my page then the left side Heading highlighter was not moving to the current topic.
Another one example is I just

[2016-03-04 16:42] lord commented on #457
Sorry, I don't really know what you mean by "achieve the desired result". Why are you using DLL and XML files to generate documentation? If you'd like to clarify, feel free to reopen.

[2016-03-04 16:42] #457 closed

[2016-03-04 16:43] lord commented on #456
You can't use it as a Gem, but you can build your documentation with Slate, and then put the static files into your Rails' `public` folder.

[2016-03-04 16:43] #456 closed

[2016-03-04 16:53] lord commented on #468
I can't reproduce right now with the default `index.md`. Are you using the default content? If it's your own doc, could you please post it?

[2016-03-07 02:50] flik opened #469 "Gem::InstallError: autoprefixer-rails requires Ruby version >= 2.0."
Gem::InstallError: autoprefixer-rails requires Ruby version >= 2.0.
An error occurred while installing autoprefixer-rails (6.3.1), and Bundler
cannot continue.
Make sure that `gem install autoprefixer-rails -v '6.3.1'` succeeds before
bundling.

[2016-03-07 04:33] lord commented on #469
Hmm, looks like our `readme` that says `1.9.3` is okay is out of date. I'm assuming you're running a version of Ruby less than 2.0? You probably already know how to check, but if not — just run `ruby --version`.

[2016-03-07 07:35] flik commented on #469
I have installed ruby and bundler but

when I run the command: bundle install
It is giving me this message: Bundler::GemfileNotFound

[2016-03-08 04:02] brianddk commented on #469
Yeah, got the same type error on mime-type-data, but just switched to branch 'v2' and things I'm in good shape again on my ruby 1.9.3 install.

[2016-03-08 04:04] lord commented on #469
:/ Branch `v2` is pretty broken for all sorts of reasons, probably will be deleted sometime soon. @flik are you able to update Ruby?

[2016-03-08 04:05] lord commented on #469
(Upgrading may be a good idea, Ruby 1.9.3 is [no longer receiving security updates](https://www.ruby-lang.org/en/news/2014/01/10/ruby-1-9-3-will-end-on-2015/).)

[2016-03-08 18:14] brianddk commented on #469
@lord, I'm on Precise, so I'll have to go to Trusty to get Ruby 2.0.  Need it for some other work so it's on my list anyway.

[2016-03-08 22:22] lord commented on #469
Ah, gotcha. Well, we're unlikely to support Ruby 1.9.3 in the `master` branch any time soon, so I'm going to close this and update the readme.

[2016-03-08 22:22] #469 closed

[2016-03-14 15:56] ybur-yug opened #475 "Including `Search` Item In Documents Breaks Compilation of Web UI"
We started using Slate for documentation recently. We love it!
However this morning I found something quite strange.

This is my `index.html.md`:

[code]

This is the file tree I have:

[code]

If I do this, nothing except `example` and `search` show up.

However, if I simply run:

`mv source/includes/api/_search.md source/includes/api/_tearch.md`

And change `search` to `tearch` in `index.html.md

[2016-03-14 19:23] lukeweber opened #476 "js_dir config change results in empty js files being written."
Changing js_dir in config.rb breaks javascript build with "bundle exec middleman build --clean ."

Expected: Javascript files in /tmp/slate/build/javascripts/ to have content.

Actual: Javascript files in /tmp/slate/build/javascripts/ exist, but are all empty.

Background:
As part of the [instructions to run slate on your own server](https://github.com/tripit/slate/wiki/Deploying-Slate#publishing-

[2016-03-15 21:02] couellet opened #479 "Multiple API versions"
We are looking at a solution to rebuild our documentation. At the moment we have a simple node.js application that renders markdown. However, we are working on the v2 of our API and we'll need to add versioning to our documentation.

Is there a way with Slate to generate documentation for multiple versions? Like having a dropdown somewhere that allows to swap from v1.0 to v2.0.

If there is not a

[2016-03-15 21:07] pnerger commented on #479
Charles,

There are a couple of ways to solve this problem.  If you reach out to me at pnerger@gmail.com, we can discuss how we did to solve the problem and what we like about the approach we took.

Paul

PAUL S NERGER
pnerger@gmail.com

This message contains confidential information and is intended only for the individual named. If you are not the named addressee you should not disseminate, distr

[2016-03-18 04:40] heff commented on #72
Great feature, thanks!

[2016-03-18 19:43] heff commented on #58
@maxlinc's solution + the language hash option worked perfectly for me (even with two-word names). I just changed android_lexer.rb to language_aliases.rb and dropped in all my custom naming.

[code]

[code]

[code]

I don't know if the actual solution needs to be any fancier than adding the language alias file.

[2016-03-19 04:57] lord commented on #479
There's already a discussion for this feature in #138, feel free to chat about it there!

[2016-03-19 04:57] #479 closed

[2016-03-19 05:04] lord commented on #476
@lukeweber did you move all the source js files from `source/javascripts` to `source/javascripts/other`?

[2016-03-19 05:10] lukeweber commented on #476
No, but I did use this config directive along with relative false to
rewrite the paths in the index.html and in the source files.

 Imagine an http server where I serve everything from /static/slate/...
With index served from the root. Everything behaves as expected except
js_dir which seems to rewrite index.html paths, continues to
"build" javascripts files, but writes empty files. I don't see th

[2016-03-19 05:12] lord commented on #475
Hmm, are you still having this problem? I just created `includes/_search.md`, and added it to my `index.md`, and wasn't having any problems.

[2016-03-19 05:12] lord commented on #468
Closing due to inactivity...feel free to reopen @vinothkumar-k if you'd like to update with details!

[2016-03-19 05:12] #468 closed

[2016-03-19 05:20] lord commented on #455
There's `white-space:pre-wrap`, but I haven't be able to get it to work for Firefox. If you manage to get a cross-browser solution, I'd be glad to accept a pull request!

[2016-03-19 05:35] lord commented on #476
Not sure what you mean by "seems to rewrite index.html paths"...do you think you could clarify?

If you move the source files to `source/javascripts/other`, it should build properly to `build/javascripts/other`.

[2016-03-19 05:44] lukeweber commented on #476
Change js_dir to anything say static/slate/javascripts and build and view
the js files in the build directory. They will all be empty files.

In index.html the src attribute for a js script will correctly read
src=static/slate/javascripts/all.js, which is fine and expected.

Changing js_dir doesn't impact the output build directory location from
what I can see of these files, which is also fine, b

[2016-03-19 18:23] ybur-yug commented on #475
I will try to replicate again later today and include a repo with it showing if I succeed @lord

[2016-03-19 22:53] lord commented on #476
I think `js_dir` refers to the directory that the javascript files are input and output from — if you change `js_dir`, you have to change the location of the input files.

[2016-03-19 22:54] lord commented on #475
:+1:

[2016-03-19 23:00] lukeweber commented on #476
I would agree except this does work this way for css dir. And why output
empty files in the same location and structure as the source files but make
them empty? I have a feeling it's a bug. I'm not familiar with middleman.
Is that the project that relates to this build specifics?

On Saturday, March 19, 2016, Robert Lord <notifications@github.com> wrote:

[2016-03-20 00:14] ybur-yug commented on #475
I cherry-picked the state from the commit in which this had initially happened for me after verifying it was in fact doing this still in my repository. Then I pulled from master, and it had been quite a while since initially cloning, and upon getting the latest changes it was no longer displaying the issue.

Weird, but woo, now I dont have to hack-patch it by naming the file `_tearch.md` :)

Thank

[2016-03-20 00:14] #475 closed

[2016-03-20 01:53] lord commented on #475
Glad it's fixed! Thanks for following up.

[2016-03-20 17:18] SmurfyFR opened #482 "Slate is slow serving page ..."
Hello,

To run Slate, I compiled Ruby on a debian VM, installed Slate, etc...
But I don't know why, it's kinda slow to generate pages (bundle exec middleman) : Google Chrome is telling me that the TTFB is ~1.9 secondes for each files.
I don't know where is the bottleneck : Ruby? Middleman? Slate sources?

ruby 2.3.0p0 (2015-12-25 revision 53290) [x86_64-linux]
Middleman 4.0.0

Regards,

[2016-03-21 20:11] lord commented on #482
Yup, unfortunately that's just the speed Slate usually renders at. Obviously this isn't a problem for production, since your docs will be served statically, but that's just how long it takes in development.

[2016-03-21 20:11] #482 closed

[2016-03-22 05:25] hashwin commented on #476
I am having issues with this as well. My config file is as follows:
[code]

The stylesheets, images and fonts work as expected (with the caveat that fonts automatically use the relative path that is required). But for js, the file ends up being written as empty.

FYI The output directory paths remain unchanged whatever these values are set to. The 'docs' represent the relative path on my server wh

[2016-03-23 17:22] lindo-jmm commented on #163
@kevin-r-tao Exactly what I was looking for, thank you!

[2016-03-26 06:08] binarysurgeon opened #486 "Inconsistent behavior when clicking nav links in Chrome"
We've encountered issues when using Chrome with the generated files (including the demo).  We've reproduced the issue on several machines running Chrome.  We cannot reproduce the issue in Internet Explorer.

To reproduce:

1. Open Chrome
2. Visit http://tripit.github.io/slate/
3. Click back and forth between Authentication and Introduction.  (ie less than second between clicks)
4. Usually after a

[2016-03-30 14:10] Pungsnigel opened #488 "Favicon shows only in middleman-config"
Adding a favicon.ico in my source directory doesn't show on my documentation, but it does show if I go localhost:3456/__middleman. Any idea what I'm doing wrong here?

[2016-03-30 17:24] lord commented on #488
Did you set the favicon meta tag? It also can take some time to refresh.

[2016-04-03 23:50] bc-AlyssNoland opened #490 "Possible to use multiple layout.erb files?"
I'm attempting to make a landing page. I can manage with a single template, but it would be ideal if I would use another template/layout. I haven't seen any examples in the wild so I was hoping someone could point me in the right direction.

[2016-04-04 00:43] bc-AlyssNoland commented on #490
I figured this out. :+1:

http://blog.konstantinpavlov.net/2015/04/12/slate-static-api-documentation-generator/

[2016-04-04 00:43] #490 closed

[2016-04-04 21:04] isaiahgrey93 opened #491 "Need both JS & Node.js Tab"
How can I have two tabs that use JavaScript so I can show the client side JS SDK and server side SDK I have to document separately?

[2016-04-07 16:04] lord commented on #491
Not quite yet, but we're tracking this issue in #58.

[2016-04-07 16:04] #491 closed

[2016-04-20 14:01] 13k commented on #476
tl;dr: add `activate :sprockets` to `config.rb` (outside the `configure :build` block) and it should be solved.

I had the same issue, and in my case it didn't seem to be related to `:js_dir` option at all (I have default options for the directories).

If you disable the `:minify_javascript` extension in `config.rb` you can see that middleman actually generates the `all*.js` files, but the sprocke

[2016-04-22 11:29] kengz opened #497 "deploy to different remote"
Loving Slate. Just curious if it's possible to deploy the doc to a different remote?

Concrete example: I'm hosting the doc to my repo aiva, on a Slate fork. Deploying it will push to the endpoint [kengz.github.io/aiva-doc](https://kengz.github.io/aiva-doc), but I'd love for it to appear on the project's page **kengz.github.io/aiva** too.

Tips? Thanks in advance!

[2016-04-22 12:58] AnthonyAkentiev opened #498 "bundle install (nokogiri) doesn't work after updating to MacOS X ElCapitan"
Before it worked well.
I've updated my system to latest ElCapitan version. And it seems to me that bundle install doesn't work.
The problem is in nokogiri library.
I've tried [this link](http://stackoverflow.com/questions/29020478/error-installing-nokogiri-on-bundle-install-but-already-installed) but it doesn't help...

**********
[code]

[2016-04-22 17:30] AnthonyAkentiev commented on #498
Can be fixed like that:

[code]

[2016-04-27 09:33] hifall commented on #150
We definitely need this feature! Do you have an idea if/when this will be up?

[2016-04-27 10:39] hifall commented on #163
Would be nice to have!

[2016-05-16 16:58] rodlui1 commented on #58
I may be missing something, but I just attempted this workaround and I get this error:

`require': cannot load such file -- rougue (LoadError)`

@heff could you offer some guidance on what I may be missing?

[2016-05-16 17:24] heff commented on #58
@rodlui1 I'm not a Ruby dev so I'm not sure how much I could help. You might see if you can get maxlinc's original example working first before adding my pieces. If that doesn't work there may have been a change to Slate.

[2016-05-16 17:31] lord commented on #58
@rodlui1 maybe you misspelled `rouge`?

[2016-05-16 17:46] rodlui1 commented on #58
@lord Robert you nailed it. I didn't even pay attention. Thank you.

[2016-05-16 17:48] lord commented on #58
:+1:

[2016-05-19 00:24] IoDmitri opened #510 "error build/javascripts/all_nosearch.js"
While using `./deploy.sh` I get the following printout.

[code]

Running `middleman build --verbose` I get the following printout.
[code]

[2016-05-24 05:12] lord commented on #497
Sorry for the slow reply — just changing [this line](https://github.com/tripit/slate/blob/master/deploy.sh#L83) in `deploy.sh` should work, I think!

[2016-05-24 05:12] #497 closed

[2016-05-24 05:12] lord commented on #498
Cool, glad you got it resolved!

[2016-05-24 05:12] #498 closed

[2016-05-24 05:13] lord commented on #510
Does this not happen for `middleman server`?

[2016-05-24 05:13] lord commented on #488
Closing due to inactivity, but feel free to reopen!

[2016-05-24 05:13] #488 closed

[2016-05-24 05:14] lord commented on #455
Closing since we don't seem to have a good solution, but if anybody manages to come up with something, I'd be glad to merge a PR!

[2016-05-24 05:14] #455 closed

[2016-05-24 08:01] chiahaolu commented on #150
I spent a whole day learning about this.When I discovered the issue ,my heart is crash%>_<%.Hoping for this feature.

[2016-05-24 13:38] fermin-silva commented on #510
I get the same error while doing a middleman build. Log is:
[code]

No errors while doing middleman server. I guess it has to do with uglyfication/minification or something like that, that only happens when building

[2016-05-25 10:27] capncodewash opened #513 "Broken link in readme"
The link on your readme about syntax highlighting ( http://rouge.jayferd.us/demo ) seems to be broken. It points to a domain renewal page.

I'm not sure where it should go, otherwise I'd fix it myself.

Thanks.

[2016-05-25 13:28] yoghi opened #515 "Vagrant memory problem"
##### step reproduce bug:
Checkout master branch, execute vagrant up :
I have many:
[code]
and vagrant abort when try compile json gem:
[code]

##### proposal fix on Vagrantfile:
[code]

and add ruby-dev between installed package on "bootstrap" fase.
[code]

[2016-05-25 18:22] IoDmitri commented on #510
@lord running `middleman server` cuases an error stating that the slate folder is not found, perhaps thats because I'm inside the slate folder. Running `./deploy` for me now works. I have the same ruby and Bundler version as @fermin-silva.

[2016-05-27 10:45] HarryS commented on #510
I got this same error fixed by rerunning ``bundle exec middleman build`` a few times and getting lucky. If run with --clean (or delete the build folder), the error sometimes pops back up.

So if you rerun the build a few times with your fingers crossed, it will might work; at least it did for me.

[2016-05-29 21:45] matthewlmcclure commented on #515
The following seems to work for me:

[code]

[2016-05-30 05:01] pdestefano opened #519 "third column (code samples) in separate .md files"
Hello - I would like to be able to put the third column information (the code samples) in a separate .md file to be included.  I am trying to auto generate the markdown in the middle column.  Code samples are not included in the auto generated data....so, would have be be added back into the markdown every time the markdown is auto generated.  Is there any way to put the third column in a differen

[2016-05-31 20:19] johnathanludwig commented on #510
I was also getting this error. Though it would randomly rotate between `all.js` and `all_nosearch.js`.

I added `therubyracer` (removed in 1.3.2) back into the Gemfile and it resolved the issue for me.

[2016-06-02 12:07] joriszwart commented on #515
Works for me as well. I had to reinitialize the VM to get everything in place again.

[code]

[2016-06-02 12:08] btreut opened #522 "dead link on https://github.com/tripit/slate/blob/master/README.md"
Hi,

it appears to me that the link "almost 60 languages" on READMME.md pointing to http://rouge.jayferd.us/demo should be adjusted to point to http://rouge.jneen.net/
--
  Bernhard

[2016-06-02 14:52] HarryS commented on #522
Dupe of #513. In the meantime, try using [Google's Cache](https://webcache.googleusercontent.com/search?q=cache:YEsF_kbgdRkJ:rouge.jayferd.us/demo+&cd=1&hl=en&ct=clnk&gl=se).

[2016-06-02 16:09] cemerick opened #523 "Language-specific main body content"
#72 made it possible to have portions of code depend upon the selected language. You can use the same `lang-specific` class to toggle chunks of main-body HTML, but doing so means you can't have markdown formatting within. e.g.

[code]

Will display "\_javascript\_", not "_javascript_". This is a bummer. :-)

Options to address this AFAICT include:

1. Slate grows some additional markdown syntax fo

[2016-06-02 19:10] kdudala1 opened #524 "How do I get links to open in a new tab?"
Hello! We are experimenting with Slate and are loving it so far. One question - How do we get links to open in new tabs? We're trying to create some workflow like articles that include links to multiple endpoints, and we'd prefer to have the links open in new tabs.

Thanks in advance!

[2016-06-02 20:10] cemerick commented on #523
I figured out how to get kramdown working in middleman; here's the relevant bit of my `config.rb` so far:

[code]

The `:markdown_engine` and `parse_block_html` bits are the relevant changes. (The `:input` option makes kramdown use github-flavoured markdown; using `~~~` to delimit code blocks is unfamiliar enough to bother.)

Turns out the `:markdown` options are completely different between the v

[2016-06-06 08:16] GuillaumeBadi opened #525 "Performance question"
Hey !

We are building the [Mailjet API Guides](http://dev.mailjet.com/guides/) using trpit/Slate and as you may notice, we encounter a very slow initialization on every page request.

I don't think this issue is caused by the file size, but the search field. Do you have any recommendation regarding this ?

Best,
Guillaume

[2016-06-07 04:11] kengz opened #526 "Github markdown badge for Slate?"
Something like this: http://read-the-docs.readthedocs.io/en/latest/badges.html

[2016-06-07 07:56] HarryS commented on #510
Thanks for the tip, though it didn't seem to fix it 100% in my case either. However, after I commented out both minify_css and minify_javascript in config.rb the error has not came back. So might be something with those modules.

[2016-06-08 07:51] timaschew commented on #525
It's not slate, it's your page, you're loading so much assets and you're doing it in a blocking way.
For instance this image http://dev.mailjet.com/guides/images/logo_mjml.png takes about 4 seconds to load

[2016-06-08 13:43] arahkunsecurity commented on #522
Noticed this as well, thanks for the update

[2016-06-09 21:40] arahkunsecurity opened #534 "Question regarding images"
Hi guys, thanks first of all for slate, we have started using it for documentation within the company after testing it internally.

The customization is really easy and it does everything we need for documentation, except perhaps one small function; being able to add images.

Perhaps this is possible, just that I haven't found the function? Since there is a logo.png and css entry for this image, I

[2016-06-10 22:10] lord commented on #534
You should be able to add images with the syntax `![alt text](/path/to/image)`, no?

[2016-06-10 22:10] #534 closed

[2016-06-10 22:13] lord commented on #526
@kengz I think this makes sense for something with an actual status, but in the case of Slate, how could we provide a status that a link to an image from http://shields.io/ couldn't?

[2016-06-10 22:15] lord commented on #525
Hey! I'm not sure about it, but it's conceivable that search is slowing it down. You should be able to disable search to compare the load speeds by setting `search: false` at the top of your `index.html.md`.

[2016-06-10 22:15] #525 closed

[2016-06-10 22:16] lord commented on #524
You can plop raw HTML directly into your markdown file, so if you just have a `<a href="https://google.com" target="_blank">blah</a>` tag, that should work!

[2016-06-10 22:16] #524 closed

[2016-06-10 22:20] lord commented on #523
Glad to hear you figured it out! I think this is a use case that we're not going to officially support, but we'll definitely keep this issue visible for people to see if they have the same question. LMK if you have any other questions, sorry this took a week to get to.

[2016-06-10 22:20] #523 closed

[2016-06-10 22:23] lord commented on #513
Fixed in `dev`, thanks!

[2016-06-10 22:23] #513 closed

[2016-06-10 22:23] lord commented on #522
Fixed in `dev`, thanks!

[2016-06-10 22:23] #522 closed

[2016-06-10 22:30] lord commented on #519
Yea, I mean you could write custom Middleman helper functions to include content (you can access the files if you rename `index.html.md` to `index.html.md.erb`, but there's not any sort of built in way to do this, no.